/* Page Heeader componennt CSS styles */

.PageHeader {
  display: block !important;
}
.Subpage-header__title a {
  font-weight: 300;
  color: #000;
}
.Subpage-header__title a:hover {
  color: #666;
}
.Subpage-header__title.habla-title {
  line-height: 12pt;
}
.habla-main-content-header-actions {
  display: inline-flex;
}
.ckg-link {
  font-size: 18px;
  color: #999;
  cursor: pointer;
}
.actionButtonsContainer {
  display: inline-flex;
  border: 1px solid #ccc;
  border-radius: 4px;
  margin-right: 10px;
  background: #e8e7e7;
}
.actionButtonsContainer a,
.actionButtonsContainer span {
  padding: 6px 8px;
  font-weight: 900;
}
.actionButtonsContainer a {
  border-right: 1px solid #cccccc;
}
.actionButtonsContainer a:last-child {
  border-right: none;
}
.actionButtonsContainer svg {
  margin: 0 !important;
  color: #999 !important;
}
.actionButtonsContainer .fa-bars {
  margin-right: 10px !important;
}
.actionButtonsContainer svg:hover,
.actionButtonsContainer:hover {
  color: #666 !important;
}
.actionButtonsContainer:hover {
  border: 1px solid #ccc;
  background: #e8e8e8;
}
.actionButtonsContainer .fa-chevron-down {
  font-size: 7px;
  font-weight: 300;
  margin-left: -1px;
  margin-right: 0;
  position: relative;
  top: -4px;
}

.PageHeader .rightSideButton {
  display: flex;
  align-items: center;
  padding-top: 6px;
}

.PageHeader .pageHeader__badge {
  justify-content: 'flex-end';
}

/* Ant Popover */

.ant-popover.ant-popover-placement-bottomLeft .ant-popover-arrow {
  background: #444444;
  width: 8.48528137px;
  height: 8.48528137px;
  -webkit-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  transform: rotate(45deg);
  position: absolute;
  display: block;
  border-color: transparent;
  border-style: solid;
}
.ant-popover.ant-popover-placement-bottomLeft .ant-popover-inner {
  background-color: #444444;
  background-clip: padding-box;
  border-radius: 4px;
  -webkit-box-shadow: 0 2px 8px rgba(0, 0, 0, 0.15);
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.15);
}
.ant-popover.ant-popover-placement-bottomLeft .ant-popover-title {
  min-width: 177px;
  margin: 0;
  padding: 10px 12px;
  min-height: 32px;
  border-bottom: none;
  color: #fff;
  font-weight: 900;
  font-size: 7pt;
  text-transform: uppercase;
}
.ant-popover.ant-popover-placement-bottomLeft .ant-popover-inner-content {
  padding: 0 0 16px;
  color: #fff;
  font-size: 9pt;
  font-weight: 400;
}
.ant-popover-inner-content a svg,
.ant-menu-item > a svg {
  color: #8f8f8f;
  margin-right: 13px;
}
.ant-popover-inner-content a,
.ant-menu-item > a {
  color: #999999 !important;
  padding: 5px 12px;
}
.ant-menu-vertical .ant-menu-item:not(:last-child) {
  margin-bottom: 0px;
}
.ant-popover.ant-popover-placement-bottomLeft .ant-popover-inner-content a:hover,
.ant-popover.ant-popover-placement-bottomLeft .ant-menu-item > a:hover,
.ant-menu-sub .ant-menu-item a:hover {
  background: #333;
  color: #fff !important;
}
.ant-popover.ant-popover-placement-bottomLeft ul.ant-menu li.ant-menu-submenu:hover {
  background: #333 !important;
  color: #fff !important;
}
.ant-popover-inner-content .ant-menu-vertical > .ant-menu-submenu > .ant-menu-submenu-title {
  line-height: normal !important;
  color: #999999 !important;
  padding: 5px 30px 5px 27px !important;
}

.ant-popover-inner-content .ant-menu-vertical > .ant-menu-submenu > .ant-menu-submenu-title:hover {
  color: #fff !important;
}

.ant-menu-submenu-popup.ant-menu-submenu > .ant-menu.ant-menu-vertical {
  background: #444444;
  padding: 0 0 12px 0;
}
.ant-menu-item > a {
  display: block;
  color: #fff;
}
.ant-menu-item .submenuTitle {
  color: #fff;
  font-weight: 900;
  font-size: 7pt;
  line-height: 7pt;
  text-transform: uppercase;
  display: flex;
  padding: 12px 0 6px;
}
.ant-menu-submenu-arrow {
  right: 5px !important;
  color: #7c7c7c;
}

.ant-menu-sub .ant-menu-item .disabled {
  color: #717171;
}

.ant-menu:not(.ant-menu-horizontal) .ant-menu-item-selected {
  background: #333 !important;
  color: #fff;
}

.PageHeader .ant-scroll-number-only {
  padding: 0;
}

.pageHeader__badge {
	font-weight: 700;
  font-family: 'Lato', sans-serif;
}
