.BasicFilter {
  display: inline-flex;
  vertical-align: -webkit-baseline-middle;
  margin-right: 4px;
}

.BasicFilter__content {
  border-radius: 4px;
  overflow: hidden;
  display: -webkit-inline-box;
  vertical-align: -webkit-baseline-middle;
  cursor: pointer;
}
.BasicFilter__content.inactive {
  opacity: 0.3;
}
.BasicFilter__image {
  width: 30px;
  height: 30px;
}

.BasicFilter__label {
  margin-top: 10px;
  margin-left: 1px;
  font-size: 11px;
  vertical-align: -webkit-baseline-middle;
  display: none;
}
