.BasicFilter {
  vertical-align: -webkit-baseline-middle;
}

.BasicFilter__content {
  border-radius: 4px;
  overflow: hidden;
  display: -webkit-inline-box;
  vertical-align: -webkit-baseline-middle;
  cursor: pointer;
}
.BasicFilter__content.inactive {
  opacity: 0.3;
}
.BasicFilter__image {
  width: 25px;
  height: 25px;
}

.BasicFilter__label {
  margin-top: 10px;
  margin-left: 1px;
  font-size: 11px;
  vertical-align: -webkit-baseline-middle;
  display: none;
}

.FilesFilters__dataTypes .BasicFilter__content {
  background: #fff !important;
}
