.avatar-uploader,
.avatar-uploader-trigger,
.avatar {
  width: 11vw;
  height: 11vw;
}
.avatar-uploader {
  display: flex;
  align-items: center;
  justify-content: center;
  border: 1px solid #d9d9d9;
  border-radius: 4px;
}
.avatar-uploader-trigger {
  display: table-cell;
  text-align: center;
  vertical-align: middle;
  border-radius: 4px;
  cursor: pointer;
}
