.Chat__message_edit_input {
  padding: 4px 10px;
}

.InlineSuggest {
  position: relative;
}

.InlineSuggest__input,
.InlineSuggest__suggestion {
  padding: 5px 11px;
  font-size: 16px;
  margin: 0;
  border: none;
  box-sizing: border-box;
}

.InlineSuggest__input {
  position: relative;
  z-index: 1;
  display: inline-block;
  background-color: transparent;
  width: 100%;
}

.InlineSuggest__input:hover,
.InlineSuggest__input:focus {
  border-color: transparent;
  box-shadow: none;
}

.InlineSuggest__suggestion {
  white-space: pre;
  line-height: 28px;
  display: inline-block;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  opacity: 0.4;
  border-color: transparent;
}

.InlineSuggest__mention-dropdown {
  position: absolute;
  width: 100%;
  border-radius: 6px;
  background: white;
  box-shadow: rgba(0, 0, 0, 0.4) 0px 1px 4px;
  bottom: 40px;
  z-index: 999;
  display: block;
}

.InlineSuggest__mention-user {
  padding: 10px 5px;
  font-size: 15px;
  line-height: 15px;
}
