.signup-main-div {
  font-family: 'Lato', sans-serif;
  align-items: 'center';
  display: flex;
  flex: 1;
  flex-direction: column;
}

.signup-body {
   background-color: #fff;
   margin: 1em;
   padding: 8px;
   border-radius: 4px;
 }