{
  "presets": [
    ["es2015", {"modules": false}],
    "stage-0",
    "react"
  ],
  "plugins": [
    "react-hot-loader/babel",
    "transform-object-rest-spread",
    [
      "react-intl", {
      "messagesDir": "./dist/messages",
      "enforceDescriptions": false
    }
    ],
    ["import", { "libraryName": "antd", "style": "css" }]
  ]
}
