{
  "parserOptions": {
    "ecmaVersion": 7,
    "sourceType": "module",
    "ecmaFeatures": {
      "jsx": true
    }
  },
  "parser": "babel-eslint",
  "extends": ["airbnb", "plugin:react/recommended", "plugin:prettier/recommended"],
  "settings": {
    "import/resolver": {
      "webpack": {
        "config": "./webpack.config.js"
      },
      "node": {
        "paths": ["./src"]
      }
    }
  },
  "env": {
    "browser": true,
    "node": true,
    "es6": true
  },
  "rules": {
    "prettier/prettier": "error",
    "no-else-return": ["error", { "allowElseIf": true }],
    "prefer-destructuring": ["warn", { "array": false, "object": true }],
    "lines-between-class-members": ["error", "always", { "exceptAfterSingleLine": true }],
    "react/jsx-filename-extension": [1, { "extensions": [".js", ".jsx"] }],
    "react/forbid-prop-types": "off",
    "react/display-name": "off",

    // TODO: fix the following eslint rules:
    "react/no-array-index-key": "warn",
    "react/require-default-props": "warn",
    "react/destructuring-assignment": "warn",
    "react/no-access-state-in-setstate": "warn",
    "react/default-props-match-prop-types": "warn",
    "react/jsx-tag-spacing": "warn",
    "react/jsx-wrap-multilines": "warn",
    "react/jsx-curly-brace-presence": "warn",
    "react/jsx-closing-tag-location": "warn",
    "react/jsx-one-expression-per-line": "warn",
    "jsx-a11y/label-has-for": "warn",
    "jsx-a11y/anchor-is-valid": "warn",
    "jsx-a11y/click-events-have-key-events": "warn",
    "jsx-a11y/no-static-element-interactions": "warn",
    "import/no-cycle": "warn",
    "import/named": "warn"
  }
}
