.cool-habla:before {
  z-index: -1;
  content: ' ';
  line-height: 0;
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: #009688;
  height: 220px;
}

/* entire container, keeps perspective */
.flip-container {
	perspective: 1252px;
}

.flip-container.hover .flipper, .flip-container.flip .flipper {
	transform: rotateY(180deg);
}

.flip-container, .front, .back {
	height: 100%;
}

/* flip speed goes here */
.flipper {
	transition: 1.0s;
	transform-style: preserve-3d;
	position: relative;
	display: flex;
}

/* hide back of pane during swap */
.front, .back {
	backface-visibility: hidden;
  width: 100%;
	position: absolute;
	top: 0;
	left: 0;
}

/* front pane, placed above back */
.front {
	z-index: 2;
	/* for firefox 31 */
	transform: rotateY(0deg);
}

/* back, initially hidden pane */
.back {
	transform: rotateY(180deg);
}
