.New-team__title {
  font-weight: bold;
  margin-bottom: 5px;
}

.New-team__add-textfield {
  height: 50px !important;
  font-size: 20px !important;
}

.New-team__add-textfield:focus,
.New-team__add-textfield:hover {
  border-color: #777777;
  box-shadow: none;
}

.New-team__button {
  height: 38px;
  border-radius: 2px;
  background-color: #777777;
  border-color: #777777;
}

.New-team__button:hover,
.New-team__button:focus {
  background-color: #979797;
  border-color: #979797;
}

.New-team__button--margin-right {
  margin-right: 20px;
}

.New-team__container {
  width: 50%;
}
