.Integration-details__icon-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}
.Integration-details__switch-container {
  padding: 18px;
}
.Integration-details__right-col {
  padding-left: 40px;
}
.Integration-details__icon-container .ant-card {
	width: inherit;
	height: inherit;
	background: #fff;
}