.subpage-block {
  padding: 2em;
}
.New-team__title {
  position: relative;
  display: inline-block;
}
.teamPage-list .simple-card__icons {
  font-size: 17px !important;
  color: #fff !important;
}

.TeamSummary .integration-list .integration-card .ant-avatar {
  background: #fff !important;
  border: 1px solid #eee;
}
.TeamSummary .habla-integration-list .ant-card {
  background: #fff;
  border: 1px solid #eee !important;
  margin: 5px 8px 0 0;
  border-radius: 14% !important;
}
.TeamSummary .habla-integration-list img {
  width: 57px;
  height: 57px;
  display: inline-block;
  overflow: hidden;
}
.TeamSummary .habla-integration-list .ant-card {
  width: 60px;
  height: 60px;
}
.TeamSummary .habla-integration-list .ant-card-head {
  position: absolute;
  top: -1px;
  right: 3px;
}
.TeamSummary .integration-card {
  position: relative;
}
.TeamSummary .integration-card svg {
  position: absolute;
  top: 3px;
  right: 3px;
}
