.Sidebar.hidden {
  display: none;
}
.ButtonFull {
	width: 100%;
}

/* LEFT NAVIGATION ---------- */

.Sidebar {
  background-color: #ccc;
  display: flex;
  flex-direction: column;
  border-radius: 4px;
  margin: 7px 0 7px 7px;
}
.habla-left-navigation-label {
	padding: 8px 10px;
}
.habla-left-navigation-list {
	list-style-type: none;
	margin: 0;
}
.habla-left-navigation-item {
	position: relative;
}
.habla-left-navigation-item-label {
  font-weight: 700;
  color: #999;
  text-decoration: none;
  font-size: 14px;
  padding-top: 15px;
  padding-left: 7px;
  margin-right: 25px;
  display: block;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}
.habla-left-navigation-teamroom-list {
  padding-left: 15px;
}
.habla-left-navigation-team-list-item,
.habla-left-navigation-teamroom-list-item {
  display: flex;
}

.habla-left-navigation-notification-globe {
  top: 11px;
  right: 10px;
  background: #ccc;
  padding: 3px;
  border-radius: 3px;
  color: #fff;
  font-size: 12px;
  position: absolute;
}
.habla-left-navigation-item-active .habla-left-navigation-notification-globe {
  background: #666;
}
.habla-left-navigation-item-active .habla-left-navigation-item-active-signal {
  background: #ccc;
  height: 8px;
  width: 8px;
  position: absolute;
  left: 8px;
  top: 15px;
  border-radius: 50%;
}
.habla-left-navigation-item-arrow {
  position: absolute;
  top: 12px;
  right: 10px;
}
.habla-left-navigation-create-org {
  padding: 10px;
}
.organizationHeader {
	background: #000;
	color: #fff;
	border-radius: 4px 4px 0 0;
}
.organizationHeader .habla-avatar {
	float: left;
}
.organizationHeader .organizationsList {
	float: right;
	position: relative;
	top: -6px;
	color: #666;
	cursor: pointer;
}
.organizationList li a {
   padding: 5px 10px;
}
.organizationHeader .habla-avatar--size-default, .organizationHeader .habla-avatar--size-default img {
	display: inline-block;
}
.organizationLinks {
	background: #fff;
	border-radius: 0 0 4px 4px;
}
.organizationLinks svg {
	color: #ccc;
	width: 20%!important;
}
.organizationLinks svg:hover {
	color: #999;
}
.sidebar-actions {
	padding: 0 10px 10px 10px;
}
.sidebar-actions svg {
  color: #e6e6e6;
  margin: 7px 7px 0 0;
}
.sidebar-label-number-badge {
  color: #fff;
  background: #a8a8a8;
  padding: 4px;
  border-radius: 3px;
  margin-left: 3px;
}
.subscriberorg-name,
.subscriberorg-name-current {
  position: relative;
  top: 2px;
  left: 7px;
  margin-right: 10px;
}
.organizationHeader_org_info .subscriberorg-name-current {
  color: #fff;
  position: relative;
  font-weight: 600;
  top: 8px;
  left: 7px;
  margin-right: 30px;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
  display: block;
}
.sidebar-direct-messages-content {
  background: #fff;
  border-radius: 4px;
}
.sidebar-block-label {
	padding: 10px;
}
.ant-menu-submenu .sidebar-block-label {
  padding: 10px 10px 15px 10px;
}
.sidebar-resize-icon {
  color: #a8a8a8;
  text-align: right;
  padding: 10px 0;
}
.sidebar-resize-icon svg {
  cursor:col-resize;
}