.sidebar-menu-item-label {
  padding: 8px 18px;
  border-bottom: 1px solid #ddd;
  font-weight: bold;
  color: #999;
}
.sidebar__i {
  margin-right: 5px;
  position: relative;
}
.ant-menu.ant-menu-dark .ant-menu-item-selected {
  background-color: #333333;
}
.ant-menu-submenu-title:hover {
  color: #557dbf;
  background: #f6f6f6;
}
.add-organization-button {
  background: #36b659;
  color: #fff;
  padding: 0 10px;
  margin: 10px 0;
  border-radius: 2px;
  height: auto!important;
}
.Sidebar {
  position: fixed;
  top: 68px;
  min-height: 100vh;
}
.Sidebar .ant-menu-item-selected {
  background-color: #f1f1f1 !important;
}
.ant-menu-vertical .ant-menu-item, .ant-menu-inline .ant-menu-item, .ant-menu-vertical .ant-menu-submenu-title, .ant-menu-inline .ant-menu-submenu-title {
  height: auto;
}
.Sidebar__name-container {
  display: flex;
  align-items: center;
}
.Sidebar__name-span {
  padding-left: 6px;
}
