.Sidebar.hidden {
  display: none;
}
.ButtonFull {
  width: 100%;
}

/* LEFT NAVIGATION ---------- */

.Sidebar {
  background-color: transparent;
  display: flex;
  flex-direction: column;
  border-radius: 4px;
  margin: 7px 0 7px 7px;
  overflow-x: hidden;
}
.habla-top-menu-settings .ant-avatar {
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
}
.habla-left-navigation-label {
  padding: 8px 10px;
}
.habla-left-navigation-list {
  list-style-type: none;
  margin: 0;
}
.habla-left-navigation-item {
  position: relative;
}
.habla-left-navigation-item-label {
  font-weight: 300;
  color: #999;
  text-decoration: none;
  font-size: 14px;
  line-height: 20px;
  padding-left: 7px;
  margin-right: 25px;
  display: block;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
  max-width: 150px;
}
.organization-list .ant-menu-item-selected {
  background: #fff !important;
}

.organization-list .ant-menu:not(.ant-menu-horizontal) .ant-menu-item-selected {
  background: #f5f7fd;
}
.Team_active .habla-left-navigation-item-label,
.User_active .habla-left-navigation-item-label {
  color: #000;
  font-weight: 600;
}
.habla-left-navigation-team-list-item {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 2.5px 10px;
}

.habla-left-navigation-team-list-subitem {
  display: flex;
  justify-content: initial;
  align-items: center;
  width: 100%;
}

.habla-left-navigation-notification-globe {
  top: 11px;
  right: 10px;
  background: #ccc;
  padding: 3px;
  border-radius: 3px;
  color: #fff;
  font-size: 12px;
  position: absolute;
}
.habla-left-navigation-item-active .habla-left-navigation-notification-globe {
  background: #666;
}
.habla-left-navigation-item-active .habla-left-navigation-item-active-signal {
  background: #ccc;
  height: 8px;
  width: 8px;
  position: absolute;
  left: 8px;
  top: 15px;
  border-radius: 50%;
}
.habla-left-navigation-item-arrow {
  position: absolute;
  top: 12px;
  right: 10px;
}
.habla-left-navigation-create-org {
  padding: 10px;
}
.organizationHeader {
  background: #5b7eba;
  color: #fff;
  border-radius: 4px 4px 0 0;
}
.organizationHeader .habla-avatar {
  float: left;
  border: 1px solid #fff;
}
.organizationHeader .organizationsList {
  float: right;
  position: relative;
  top: -4px;
  color: #92a4ce;
  cursor: pointer;
  font-size: 12px;
  right: 3px;
}
.organizationList li a {
  padding: 5px 10px;
}
.organizationHeader .habla-avatar--size-default,
.organizationHeader .habla-avatar--size-default img {
  display: inline-block;
}
.organizationLinks {
  background: #fff;
  border-radius: 0 0 4px 4px;
  overflow: hidden;
}
.organizationLinks a {
  position: relative;
}
.organizationLinks svg {
  color: #5b7eba;
  width: 20% !important;
  height: 30px;
}
.organizationLinks svg:hover {
  color: #3b5083;
}
.organizationLinks svg.fa-globe {
  opacity: 0.5%;
}
.sidebar-actions {
  padding: 5px 10px 10px;
}
.sidebar-actions .ant-input-affix-wrapper {
  width: 100%;
}
.sidebar-actions .ant-input-affix-wrapper .ant-input {
  height: 25px;
  background: #f0f0f0;
  border: none;
  border-radius: 15px;
}
.sidebar-actions .ant-input-affix-wrapper .ant-input-prefix i {
  color: #a6a6a6 !important;
  font-weight: bold;
}
.sidebar-actions .ant-input-affix-wrapper .ant-input-prefix {
  left: 5px;
}
.sidebar-actions .ant-input-affix-wrapper .ant-input:not(:first-child) {
  padding-left: 22px;
}
.sidebar-actions svg {
  color: #ccc;
}
.sidebar-label-number-badge {
  color: #fff;
  background: #999999;
  padding: 4px 6px;
  border-radius: 3px;
  margin-left: 5px;
}
.subscriberorg-name,
.subscriberorg-name-current {
  position: relative;
  top: 2px;
  left: 7px;
  margin-right: 10px;
}
.organizationHeader_org_info .subscriberorg-name-current {
  color: #fff;
  position: relative;
  font-weight: 600;
  top: 7px;
  left: 7px;
  margin-right: 30px;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
  display: block;
  line-height: 20px;
}

.habla-left-navigation-item-label:hover {
  color: #000;
}
.habla-left-navigation-team-list:hover {
  background: #fbfbfb;
}
.habla-left-navigation-team-list:hover > .habla-left-navigation-item-label {
  color: #000;
}
.sidebar-direct-messages-content {
  background: #fff;
  border-radius: 4px;
  padding: 0 10px 10px 10px;
}
.sidebar-direct-messages-content .habla-avatar {
  cursor: pointer;
}
.sidebar-block-label {
  padding: 10px;
  display: flex;
}
.sidebar-block-label .habla-label {
  font-weight: 700;
}
.sidebar-block-label-title {
  padding: 15px 10px 10px 10px;
}
.ant-menu-submenu .sidebar-block-label {
  padding: 10px;
}
.Sidebar .ant-menu-submenu-arrow {
  right: 10px !important;
  color: #fff;
}
ul.ant-menu-sub {
  padding-bottom: 10px !important;
}
.sidebar-resize-icon {
  color: #cacaca;
  text-align: right;
  padding: 30px 0 10px 0;
  font-size: 12px;
}
.sidebar-resize-icon svg {
  cursor: col-resize;
}
.sidebar-teams,
.sidebar-members {
  background: #fff;
  margin-top: 10px;
  border-radius: 5px 5px 5px 5px;
  padding-bottom: 17px;
}
.sidebar-direct-messages {
  background: #fff;
  margin-top: 10px;
  border-radius: 5px 5px;
}
.sidebar-actions {
  background: #fff;
  border-radius: 0 0 5px 5px;
}

.organizationHeader,
.sidebar-teams,
.sidebar-direct-messages,
.habla-main-content {
  border-right: 1px solid #bac6de;
}
.organizationLinks,
.sidebar-direct-messages,
.habla-main-content,
.sidebar-members {
  border-right: 1px solid #bcbcbc;
  border-bottom: 1px solid #bcbcbc;
}
.habla-left-navigation-team-list-item.padding-class-a {
  padding: 3px 10px;
}

.active.habla-top-menu-home::after,
.active.habla-top-menu-ckg::after,
.active.habla-top-menu-notifications::after,
.active.habla-top-menu-bookmarks::after,
.active.habla-top-menu-settings::after {
  content: '';
  width: 10px;
  height: 10px;
  border-radius: 50%;
  background: #5b7eba;
  position: absolute;
  bottom: -36%;
  left: 50%;
  transform: translate(-50%, +50%);
}

.Team_active::before,
.User_active::before {
  content: '';
  width: 10px;
  height: 10px;
  border-radius: 50%;
  background: #e5e5e5;
  position: absolute;
  top: 50%;
  transform: translate(-50%, -50%);
}

.Icon__UnreadMessages {
  color: #fff;
  background: #eb4435;
  font-size: 11px;
  border-radius: 50%;
  position: absolute;
  right: 0px;
  top: -12px;
  height: 18px;
  width: 18px;
  line-height: 18px;
  text-align: center;
  vertical-align: middle;
}

.Subscriber__Tooltip_Header {
  padding: 10px;
}

.Subscriber__Tooltip_MainInfo > div {
  vertical-align: middle;
  display: inline-block;
}

.Subscriber__Tooltip_Header .ant-avatar-string {
  color: #fff !important;
}

.Subscriber__Tooltip_Header .Subscriber__Tooltip_Name {
  color: #fff;
  text-transform: uppercase;
  font-size: 15px;
  font-weight: bold;
}

.Subscriber__Tooltip_Header .Subscriber__Tooltip_Status {
  font-style: italic;
}

.Subscriber__Tooltip_Header .Subscriber__Tooltip_Text span {
  display: block;
  padding: 0 0 0 10px;
}

.pageHeaderMenu svg {
  min-width: 1.25em;
}

.Subscriber__Tooltip_ExtraInfo > span {
  display: block;
}

.SideBar__Badge,
.habla-left-navigation-team-list-item .Badge {
  background-color: #eb4435;
}

.TeamBox_collapse .ant-collapse-header {
  padding: 0 !important;
}

.TeamBox_collapse .habla-left-navigation-team-list-item {
  padding: 3px 35px 3px 10px;
}

.TeamBox_collapse .ant-collapse-item {
  padding: 0;
  background: #ffff;
  border-bottom: none !important;
}

.TeamBox_collapse .ant-collapse-content-box {
  padding: 0 16px;
}

.Link__Wrapper {
  width: 100%;
}

.sidebar-label-number-text {
  font-size: 10pt;
}

.sidebar-label-number-badge {
  font-size: 10pt;
  padding: 2px 5px;
}
