.FilesFilters {
  overflow: hidden;
  min-height: 50px;
}
.FilesFilters__group {
  display: flex;
  padding: 9px 10px;
  border-right: solid 1px #ddd;
}
.FilesFilters__group:last-child {
  margin-right: 0;
}
.FilesFilters__dataTypes {
  display: flex;
  align-items: center;
  margin-right: 10px;
}
.FilesFilters__content {
  display: inline-flex;
  flex-wrap: wrap;
}
.FilesFilters__dataTypes__badge {
  color: #fff;
  background: #a8a8a8;
  text-align: center;
  min-width: 20px;
  border-radius: 3px;
  padding: 4px;
}
.FilesFilters__dataTypes__text {
	padding: 10px 0;
}
