/* TOP MENU ---------- */

	.habla-top-menu {
		background: #000;
		height: 56px;
		font-size: 14px;
	}
	.habla-top-menu-content {
		padding: 0 17px;
	}
	.habla-top-menu-logo {
		float: left;
		padding: 12.5px 0;
	}
	.habla-top-menu-logo a {
		display: block;
		line-height: 0;
	}
	.habla-top-menu-logo img {
		height: 30px;
	}
	.habla-top-menu-items {
		float: right;
		height: 55px;
	}
	.habla-top-menu-item {
		border-left: 1px solid #262626;
		padding: 12.5px 13px;
		float: left;
	}
	.habla-top-menu-item-last {
		padding: 12.5px 0 12.5px 13px!important
	}
	.habla-top-menu-item-content {
		height: 30px;
	}
	.habla-top-menu-items a {
		color: #4d4d4d;
		font-weight: 700;
		text-decoration: none;
		vertical-align: middle;
	}
	.habla-top-menu-items a:hover {
		color: #ffffff;
		text-decoration: none;
	}
	.habla-top-menu-items .habla-top-menu-user .habla-top-menu-subitem a {
		display: inline-flex;
	}
	.habla-top-menu-items .habla-top-menu-user {
		display: inline-block;
	}
	.habla-top-menu-items .svg-inline--fa {
		font-size: 18px;
	}
	.habla-top-menu-notifications {
		position: relative;
	}	
	.habla-notification-globe {
		position: absolute;
		top: -8px;
		left: 7px;
		background: #eb4435;
		padding: 3px;
		border-radius: 3px;
		color: #fff;
		font-size: 10px;
	}
	a.habla-top-menu-active {
		color: #ffffff;
	}
	.habla-top-menu-active-signal {
		height: 4px;
		width: 5px;
		background: #ccc;
		border-radius: 3px 3px 0px 0px;
		position: absolute;
		bottom: -17px;
		left: 0;
		width: -webkit-fill-available;
	}
	.habla-top-menu-user .habla-top-menu-label {
		margin-left: 10px;
		position: relative;
      top: 2px;
      cursor: pointer;
	}
	.habla-top-menu-items .user-icon__main-container {
		margin: 0;
	}
	.habla-top-menu-items .ant-dropdown-link {
		display: inline-block;
	}
	.habla-top-menu-items .habla-top-menu-subitem a {
		color: #fff;
	}
.habla-header-search-input {
	border-radius: 15px;
	border: none;
	margin-right: 10px;
	height: 30px;
	padding: 0 10px;
	outline: none;
}
.habla-header-search-input::placeholder {
	color: #ddd;
}
.habla-top-menu-notification-sounds .svg-inline--fa {
	margin-top: 6px;
}
.habla-top-menu-search .svg-inline--fa {
	margin-top: 6px;
}
.habla-top-navigation-dropdown-signal {
  width: 11px;
   height: 11px;
   border-radius: 50%;
   display: inline-flex;
}
.muteNotificationMenu svg {
	width: 20px!important;
}