/* Styles for Top Menu Bar */
.ant-menu, .ant-menu-horizontal, .ant-menu-dark, .ant-menu-root {
  line-height: 67px!important;
}
.ant-menu-item {
  font-size: 1.1em;
}
.logo {
  width: 150px;
  height: 67px;
  background: url('http://www.mario.cl/img/habla/habla-logo-color-in-black-vsmall.png') no-repeat;
  float: left;
}
.ant-layout-header {
  padding: 0;
  background: #000;
  height: 67px;
  width: 100%;
  position: fixed;
  z-index: 999;
}
.ant-menu-dark, .ant-menu-dark .ant-menu-sub {
  background: #000;
}
.user-avatar {
  background: url('http://www.mario.cl/img/habla/avatar-temp-habla.png') no-repeat;
  height: 35px;
  width: 35px;
  background-size: contain;
  float: left;
  position: relative;
  top: 16px;
  margin-right: 10px;
}
.ant-menu-horizontal > .ant-menu-item, .ant-menu-horizontal > .ant-menu-submenu {
  float: right;
}
.header .ant-dropdown {
  top: 68px!important;
}
.Header__user-container {
  display: flex;
  justify-content: center;
  align-items: center;
}
.Header__full-name-span {
  padding-left: 6px;
}
