/* TOP MENU ---------- */

.habla-top-menu {
  background: #000;
  height: 56px;
  font-size: 14px;
}
.habla-top-menu-content {
  padding: 0 17px;
}
.habla-top-menu-logo {
  float: left;
  padding: 12.5px 0;
}
.habla-top-menu-logo a {
  display: block;
  line-height: 0;
}
.habla-top-menu-logo img {
  height: 30px;
}
.habla-top-menu-items {
  float: right;
  height: 55px;
}
.habla-top-menu-item {
  border-left: 1px solid #262626;
  padding: 12.5px 13px;
  float: left;
}
.habla-top-menu-item-last {
  padding: 12.5px 0 12.5px 8px !important;
}
.habla-top-menu-item-admin {
  margin-left: 10px;
  padding-right: 0;
}
.habla-top-menu-item-admin svg {
  font-size: 13px !important;
  margin-right: 3px;
}
.habla-top-menu-item-content {
  height: 30px;
}
.habla-top-menu-items a {
  color: #fff;
  font-weight: 700;
  text-decoration: none;
  vertical-align: middle;
}
.habla-top-menu-items a:hover {
  color: #ffffff;
  text-decoration: none;
}
.habla-top-menu-items .habla-top-menu-user .habla-top-menu-subitem a {
  display: inline-flex;
}
.habla-top-menu-items .habla-top-menu-user {
  display: inline-block;
  cursor: pointer;
}
.habla-top-menu-items .svg-inline--fa {
  font-size: 18px;
}
.habla-top-menu-notifications {
  position: relative;
}
.habla-notification-globe {
  position: absolute;
  top: -8px;
  left: 7px;
  background: #eb4435;
  padding: 3px;
  border-radius: 3px;
  color: #fff;
  font-size: 10px;
}
a.habla-top-menu-active {
  color: #ffffff;
}
.habla-top-menu-active-signal {
  height: 4px;
  width: 5px;
  background: #ccc;
  border-radius: 3px 3px 0px 0px;
  position: absolute;
  bottom: -17px;
  left: 0;
  width: -webkit-fill-available;
}
.habla-top-menu-user .habla-top-menu-label {
  margin-left: 10px;
  position: relative;
  top: 2px;
  cursor: pointer;
  color: #fff;
}
.habla-top-menu-items .user-icon__main-container {
  margin: 0;
}
.habla-top-menu-items .ant-dropdown-link {
  display: inline-block;
}
.habla-top-menu-items .habla-top-menu-subitem a {
  color: #fff;
}
.habla-top-menu-search {
  display: flex;
}
.habla-top-menu-search-clear {
  cursor: pointer;
}
.habla-top-menu-search-input {
  width: 300px;
}
.habla-top-menu-search-input input {
  border-radius: 15px;
  border: none;
  height: 30px;
  padding: 0 60px 0 10px;
  outline: none;
}
.habla-top-menu-search-input.ant-input-affix-wrapper .ant-input:not(:last-child) {
  padding-right: 27px;
}
.habla-top-menu-search-input::placeholder {
  color: #ddd;
}
.habla-top-menu-search button {
  background-color: transparent;
  font-weight: 700;
  color: #ececec;
  cursor: pointer;
  border: none;
  margin-left: 13px;
  padding: 0;
  position: relative;
}
.habla-top-menu-search button:hover {
  color: #ffffff;
}
.habla-top-menu-search button:focus {
  outline: 0;
}

.habla-top-menu-notification-sounds .svg-inline--fa {
  margin-top: 6px;
}
.habla-top-menu-help-center .svg-inline--fa,
.habla-top-menu-notification-sounds .svg-inline--fa {
  margin-top: 6px;
  font-size: 20px;
  color: #fff;
  font-weight: 700;
}

.habla-top-menu-help-center .userMenu__dropdown-icon,
.habla-top-menu-notification-sounds .userMenu__dropdown-icon {
  font-size: 10px;
  top: -2px;
  margin-left: 5px;
  color: #fff;
}
.submitTicketContainer .fa-ticket-alt {
  transform: rotatez(-45deg);
}

.habla-top-navigation-dropdown-signal {
  width: 11px;
  height: 11px;
  border-radius: 50%;
  display: inline-flex;
}
.muteNotificationMenu svg {
  width: 20px !important;
}
.userMenu__dropdown-icon {
  top: 2px;
  margin-left: 5px;
  color: #fff;
  position: relative;
}

.habla-top-menu-item .adminRoleButton {
  background: #32a953;
  color: #fff;
  border: none;
  padding: 0 5px;
  font-size: 12px;
  border-radius: 4px;
  height: 24px;
  text-transform: uppercase;
  margin-top: 3px;
  font-weight: 700;
}

#launcher {
  left: -9999px !important;
  position: absolute !important;
}

.habla-top-menu-items .habla-top-menu-help-center {
  cursor: pointer;
}

.Header__Status_input i,
.Header__Status_input svg {
  margin: 0 !important;
}

.Header__Status_input .ant-input {
  height: 30px;
}
