.Invite-New-Member__email-field {
  height: 50px !important;
  font-size: 20px !important;
}

.Invite-New-Member__email-field input.ant-input {
  font-size: 20px !important;
  padding-left: 34px !important;
}

.Invite-New-Member__add-textfield:focus,
.Invite-New-Member__add-textfield:hover {
  border-color: #777777;
  box-shadow: none;
}
.inviteMoreUsersLink {
  margin: 0 10px;
}
.inviteMoreUsersLink a {
  color: #ccc;
}
.inviteMoreUsersLink a:hover {
  color: #666;
}
a.remove-field {
  color: #eb4435;
  font-size: 0.8em;
  position: relative;
  top: 14px;
  left: -5px;
}
