.Notification__container {
  height: 50px !important;
  flex-direction: row !important;
  background: #666;
  border-bottom: 1px solid #999;
}
.Notification__container__content {
	width: 100%;
	padding: 10px;
}
.Notification__title {
    color: white;
    font-size: 10pt;
    position: relative;
    top: 7px;
    display: inline-block;
    width: 60%;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
.Notification__title svg {
    font-size: 15px;
    margin-right: 5px;
}
.Notification__buttons {
	float: right;
}
.Notification__container  .habla-button {
	font-size: 12px;
}