.Integration .habla-big-title {
  font-weight: 900;
}

.Integration__icon-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}
.Integration__icon-container .ant-card {
  width: inherit;
  height: inherit;
  background: #fff;
  margin: 0 0 8px;
}

.Integration__extraInfo {
  font-size: 10px;
  text-transform: uppercase;
  border-radius: 4px;
  margin: 15px auto;
  padding: 0 10px;
  line-height: 1.2em;
  color: #ccc;
  width: fit-content;
  text-align: center;
}

.Integration__switch-container {
  padding: 18px;
}

.Integration__button-refresh {
  background: #5b7eba;
  color: #fff;
  border: none;
  margin-right: 10px;
}

.Integration__content-loading {
  display: flex;
  flex-direction: column;
  height: 100%;
  min-height: 80px;
  align-items: center;
  justify-content: center;
}
.Integration__content-loading .spinner {
  margin-top: 30px;
  height: 30px;
  flex: none;
}
