// import global styles here or write some global utilities and such stuff

// you will probably want something like reset or normalize.css here too
// some front-end frameworks provides such tools
body {
   margin: 0;
   padding: 0;
}

// example
.margin-left-10 {
   margin-left: 10px;
}

// global container class
.container {
   max-width: 1200px;
   margin: 0 auto;
}

.cool-habla:before {
  z-index: -1;
  content: ' ';
  line-height: 0;
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: #009688;
  height: 220px;
}
