.Invite-To-Team__title {
   font-weight: 600;
}
.Invite-To-Team__member-row {
   display: flex;
   margin: 0px;
   margin-right: 8px;
   padding: 6px;
   justify-items: center;
   align-items: center;
}
.Invite-To-Team__member-image {
   justify-content: center;
}
.Invite-To-Team__member-text {
   margin-left: 8px;
   margin-right: 8px;
   width: 100%;
}
.Invite-To-Team__add-textfield:focus, 
.Invite-To-Team__add-textfield:hover {
  border-color: #777777;
  box-shadow: none;
}
.Invite-To-Team__inviteButton-text {
  font-size: 12px;
  font-weight: 800;
  margin-right: 6px;
}
.Invite-To-Team__inviteButton-image {
  margin: 6px;
  padding-right: 20px;
  display: flex;
  flex: 1;
  justify-content: flex-end;
  float: right;
}
