.Invite-To-Team__textfield {
  height: 50px !important;
  font-size: 20px !important;
}

.Invite-To-Team__email-field input.ant-input {
  font-size: 20px !important;
  padding-left: 34px !important;
}

.Invite-To-Team__add-textfield:focus, .Invite-To-Team__add-textfield:hover {
  border-color: #777777;
  box-shadow: none;
}