.Invite-To-Team__title {
  font-weight: bold;
}

.Invite-To-Team__textfield {
  height: 50px !important;
  font-size: 20px !important;
}

.Invite-To-Team__email-field input.ant-input {
  font-size: 20px !important;
  padding-left: 34px !important;
}

.Invite-To-Team__add-textfield:focus, .Invite-To-Team__add-textfield:hover {
  border-color: #777777;
  box-shadow: none;
}

.Invite-To-Team__button {
  height: 38px;
  border-radius: 2px;
  background-color: #777777;
  border-color: #777777;
}

.Invite-To-Team__button:hover, .Invite-To-Team__button:focus {
  background-color: #979797;
  border-color: #979797;
}

.Invite-To-Team__button--margin-right {
  margin-right: 20px;
}

.Invite-To-Team__add-another-container {
  padding-bottom: 24px;
}

.Invite-To-Team__add-another {
  font-size: 18px;
}

.Invite-To-Team__add-another :hover{
  text-decoration: underline;
  color: #222222;
}

.Invite-To-Team__email-row:last-child .ant-row.ant-form-item {
  margin-bottom: 8px;
}
