.login-form-forgot {
  float: right;
}
.login-main-container {
  margin-top: 35%;
}
.login-main-div {
  min-height: 100%;
  width: 100%;
  font-family: 'Lato', sans-serif;
  align-items: 'center';
  background-color: #fff;
  background-repeat: no-repeat;
  background-size: contain;
  background-position-y: 50%;
}
.login-main-div-logo {
  text-align: center;
  margin-bottom: 30px;
}
.login-main-div-logo img {
  width: 350px;
}
.login-main-options {
  padding: 8px 0;
  margin-bottom: 20px;
}
.login-main-signup {
  text-align: center;
}
.login-main-signup a {
  border: 1px solid #32a953;
  padding: 6px 10px;
  margin-top: 20px;
  border-radius: 4px;
  opacity: 0.8;
}
.login-main-signup a:hover {
  opacity: 1;
}
.login-main-container .login-form-button {
  width: 100%;
}

.ant-checkbox-wrapper {
  color: #000;
}
.ButtonFull {
  width: 100%;
}
@media only screen and (max-width: 800px) {
  .login-main-container {
    margin-top: 20%;
  }
  .login-main-div {
    background-position-y: 40%;
  }
}
@media only screen and (max-width: 420px) {
  .login-main-div-logo img {
    width: 250px;
  }
  .login-main-div {
    background-position-y: 30%;
  }
}
