.team-room__main-container--opacity {
  opacity: .3;
}
.team-room__top-page-container {
  /*padding-bottom: 66px;*/
}
.team-room__chat-input {
    border: 1px solid #ddd;
    border-radius: 4px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: .5em 0;
}
.team-room__header-links {
  padding: 6px 10px;
  font-size: 20px;
  border-radius: 3px;
}
.team-room__header-links.active {
  background: #ddd;
}
.team-room__header-links a:hover {
  text-decoration: underline;
  color: #222222;
}
.team-room__header-links.active a:hover {
  text-decoration: none;
}
.team-room__header-container {
  display: flex;
  justify-content: flex-end;
}
.team-room__chat-input-textfield {
  border: none;
  height: 40px;
  font-size: 15px;
}
.team-room__chat-input-textfield:focus, .team-room__chat-input-textfield:hover{
  border-color: transparent;
  box-shadow: none;
}
.team-room__chat-input-form-item {
  margin-bottom: 0;
}
.team-room__icons {
  font-size: 18px;
  padding: 0 5px;
}
.team-room__chat-container {
  padding: 1em;
}
.team-room__chat-input-wrapper {
  flex: 1;
}
.team-room-chat {
  display: flex;
  flex: 1;
  flex-direction: column;
}
.team-room__messages {
  flex: 6;
  overflow: scroll;
}
.team-room__member-cards-container {
  display: flex;
  flex-wrap: wrap;
}
.team-room__member-cards-span {
  align-self: center;
  font-size: 14px;
  margin-right: 8px;
}
.team-room__file-upload-input {
  width: 0.1px;
  height: 0.1px;
  opacity: 0;
  overflow: hidden;
  position: absolute;
  z-index: -1;
}
.team-room__file-upload-input + label {
  display: inline-block;
  cursor: pointer;
}
.team-room__file-upload-input:focus + label, .team-room__icons:focus {
  outline: 1px dotted #000;
  outline: -webkit-focus-ring-color auto 5px;
}
.team-room__chat-col-icons {
  display: flex;
  margin-right: 1em;
}
.team-room__chat-input__image-wrapper {
  margin-left: 1em;
}
.file-drop {
  display: flex;
  flex: 1;
}
.file-drop > .file-drop-target {
  display: flex;
  flex: 1;
}
