.country-selector {
	margin-top: 10px
}
.header-account {
	height: 70px;
	text-align: right;
	margin-right: 20px;
	padding-top: 20px;
	color: $blue-dark;
}

.center-link {
	text-align: center;
	margin-top: 20px;
}

.info-alert {
	text-align: center;
	color: red;
	font-size: 14px;
}
