/*-----------------------------------------*/
/* GENERAL SETTINGS
/*-----------------------------------------*/

* {
  margin: 0;
  padding: 0;
  font-family: $font-stack;
  box-sizing: border-box; }

html {
  background-color: white;
  font-family: $font-stack;
  font-size: 20px;
  font-weight: 400;
  text-rendering: optimizeLegibility; }

p {
  font-size: 18px; }

a {
  text-decoration: none !important;
  // color: white;
}

a:hover {
  cursor: pointer;
}

/*-----------------------------------------*/
/* REUSABLE
/*-----------------------------------------*/
h1, h2, h3 {
  text-align: center;
  font-weight: 300;
  text-transform: uppercase;
  letter-spacing: 1px; }

h1 {
  color: white;
  font-weight: 200;
  word-spacing: 4px;
  font-size: 2vw;
  font-size: 300%; }

h2 {
  font-size: 200%;
  word-spacing: 2px;
  margin-bottom: 30px; }

.odd, .odd-column {
  background-color: $cloud; }

// #e6e6e6

.even {
  background-color: white;
}
section {
  padding: 50px 0; }

.row-half {
  background-color: black;
  display: inline-block;
  width: 50%;
  float: left; }

.row {
  margin: 0;
  padding: 0;
}

.submit {
  margin: 0 auto; }

.row-full {
  text-align: center;
  width: 90%;
  height: auto;
  margin: 0 auto; }

.header {
  h1 {
    color: black;
    text-transform: none;
    font-weight: 400;
    text-align: center;
    margin-bottom: 20px;
  }
}

.fixed-top {
  width: 100%;
  position: fixed;
  top: 0;
  z-index: 2; }

.container-fluid {
  margin: 0;
  padding: 0;
}

.clearpadding {
  padding: 0;
  margin: 0;
}

.invi {
  display: none; }

.clearfix {
  zoom: 1; }

.clearfix::after {
  content: " ";
  clear: both;
  display: block;
  height: 0;
  visibility: hidden; }

//Use those color to test box models
.test1 {
  background-color: #222;
}

.test2 {
  background-color: green;
}

.test3 {
  background-color: yellow;
}

.thin-text {
  font-weight: 200;
}
.inline-block {
  display: inline-block;
}

.normal-size {
  font-size: 14px;
  font-weight: normal;
}
.normal {
  @extend .normal-size;
  margin-left: 13px;
}

.center {
  margin-left: auto;
  margin-right: auto;
  text-align: center;
}

.row-two-input-left {
  @extend .clearpadding;
  width: 50%;
  padding-right: 2px;
}

.row-two-input-right {
  @extend .clearpadding;
  width: 50%;
  padding-left: 2px;
}

.blue-link {
  color: $blue;
}


.fill-vertical {
	height: 40vh;
}

.app-directory {

  width: 80vw;
  margin: auto;
  p {
    text-align: left;
    text-indent: 50px;
    line-height: 30px;
    font-size: 17px;

  }
}

.privacy, .security {
  line-height: 30px;
  width: 80vw;
  margin: auto;
  h4 {
    font-weight: 600;
  }
  h3 {
    margin-top: 30px;
    margin-bottom: 30px;

  }
  p {
    line-height: 30px;
    font-size: 17px;
    text-indent: 50px;
    font-weight: normal;
  }
}
ul.privacy-list {
  list-style-position: inside;
  font-size: 17px;
  font-weight: normal;
  li {
    list-style-position: inside;
  }
}

ul.security-list {
  list-style-position: inside;
  font-size: 17px;
  font-weight: normal;
  li {
    list-style-position: inside;
    padding-left:50px;
  }
}

ul.privacy-list-sub {
  list-style-position: inside;
  padding-left: 50px;
}

.delwidth {
  display: none;
  width: 0px !important;
}

