.header-login {
	height: auto; //90px;
	background-color: $bgfooter;
	margin:0;
	padding:0;
}

.logo-login {
	margin-top: 15px;
	margin-left: 0;
	width: 40px;
	height: 40px;
}

.form-login {
	margin: 10px 0px 0 0px;
	padding:0; //overwrite padding from bootstrap first before setting padding partial again
	padding-right: 5px;
	height: 60px;
}

.help-block {
	font-size: 12px;
}

.login-submit {
	margin: 10px 0 20px 0px;
}

.forgot-password {
	color: $grey;
}

.signup-guide {
	padding: 80px 50px 0 10px;
	p {
		font-size: 14px;
	}
	h5 {
		color: $grey;
	}
}

.signup-fill {
	h1 {
		color: black;
		text-transform: none;
		font-weight: 400;
		text-align: left;
		margin-bottom: 20px;
	}
}

.ion-help-circled {
	font-size: 30px;
	margin:0;
	color:white;
	padding-top: 6px;
}

.ion-help-circled:hover {
	color: $blue-dark;
	cursor: pointer;
}

.signup-small {
	margin: 0;
	padding: 0;
	height: 60px;
	padding-right: 5px;
}

.delheight {
	display: none;
}

.clearpadding {
	padding: 0;
	margin: 0;
}

.signup-submit {
	margin-top: 30px;
}

.forgot-notice {
	margin-top: 20px;
	p {
		font-size: 14px;
		color: $grey;
	}
}

.fill-vertical {
	height: 300px;
}

.reset-password-button {
	@extend .clearpadding;
	padding-right: 5px;
}

.reset-cancel {
	background-color: $color-odd;
}

.reset-cancel:hover {
	background-color: $grey;
}
