.team-search {
	margin-top: 20px;
}

.search-button {
	margin: 0;
	padding: 0;
	width: 60px;
	background: $orange1;
	border: none;
}

.search-button:hover {
	background-color: $orange;
}
.ion-ios-search-strong {
	margin: 0;
	padding: 0;
	font-size: 24px;

}

.team-header-icons {
	margin-top: 16px;
	padding-left: 20px;
}

.ion-ios-calendar-outline,
.ion-chatbubbles,
.ion-earth,
.ion-ios-gear,
.team-question-icon {
	
	font-size: 30px;
	padding-right: 30px;
	color: white;
}

.ion-ios-calendar-outline:hover,
.ion-chatbubbles:hover,
.ion-earth:hover,
.ion-ios-gear:hover,
.team-question-icon:hover {
	color:$blue-dark;
	cursor: pointer;
}