.team-search {
	margin-top: 20px;
}

.search-button {
	margin: 0;
	padding: 0;
	width: 60px;
	background: $orange1;
	border: none;
}

.search-button:hover {
	background-color: $orange;
}
.ion-ios-search-strong {
	margin: 0;
	padding: 0;
	font-size: 24px;

}

.team-header-icons {
	margin-top: 16px;
	padding-left: 20px;
}

.ion-ios-calendar-outline,
.ion-chatbubbles,
.ion-earth,
.ion-ios-gear,
.team-question-icon {
	
	font-size: 30px;
	padding-right: 30px;
	color: white;
}

.ion-ios-calendar-outline:hover,
.ion-chatbubbles:hover,
.ion-earth:hover,
.ion-ios-gear:hover,
.team-question-icon:hover {
	color:$blue;
	cursor: pointer;
}

.body-left {
	// background-color: $grey;
	border: 2px solid $cloud;
	// @include box-shadow(3px,3px,8px);
}

$left-mainuser: 90px;
.mainuser {
	height: $left-mainuser;
	border-bottom: 1px solid black;
}

.mainuser-avatar-container {
	height: $left-mainuser;
	margin: 0;
	padding:0;
}

.mainuser-avatar {
	padding:0;
	margin:0;
	width: 40px;
	height: 40px;
	// @include border-radius(10px);
	border-radius: 50%;
	border: 2px solid white;
	margin-top: 20px;

}

.mainuser-info {
	height: $left-mainuser;
	padding-top: 15px;
	.mainuser-name p {
		padding: 0;
		margin: 0;
		font-style: bold;
		font-weight: 400;
		font-size: 16px;
	}
	.mainuser-email {
		font-size: 14px;
		color: $grey;
	}
	.mainuser-phone {
		font-size: 14px;
		 color: $grey;
	}
}

.team-members {
	overflow-y: scroll;
	height: 500px;
}

.team-member {
	height: 70px;
}

.team-member-avatar-container {
	margin: 0;
	padding: 0;
}

.team-member-avatar {
	@extend .mainuser-avatar;
	margin-top: 0;
}

.member-message-time {
	color: $grey;
}

.team-nav-bottom {
	margin-top: 20px;
}
.nav-horizontal {
	margin:0;
	padding:0;
	height: 400px;
	background-color: $color-odd;
	@include border-radius(10px);

}

$align-left: 12px;

.nav-horizontal-icon-container {
	margin-top: 15px;
	margin-left: $align-left;
	width: 30px;
	height: 30px;
	@include border-radius(50%);
	background-color: $grey;
	text-align: center;
}

.nav-horizontal-icon-container:hover {
	cursor: pointer;
	background-color: $blue;
}

.fa-user-o,
.fa-bar-chart,
.fa-search,
.fa-star-o {
	margin:0;
	padding:0;
	padding-top: 4px;
	font-size: 20px;
	color: white;
}

.team-nav-links a {
	color: black;
	margin-left: 10px;
}

.team-nav-links-indent a{
	color:black;
	margin-left: 15px;
}

.team-nav-links-indent-indent a {
	color:black;
	margin-left: 20px;
}
.team-nav-links a:hover,
.team-nav-links-indent a:hover,
.team-nav-links-indent-indent a:hover {
	color: $blue;
}

.body-middle {
	@extend .clearpadding;
	border: 2px solid $cloud;
	background-color: $cloud;
}

$middle-header: 50px;
.team-middle-header {
	
	height: $middle-header;
	border-bottom: 1px solid black;
	h3 {
		margin:0;
		padding:0;
		padding-top: 10px;
		text-transform: none;
		font-weight: 600;
	}
}

.team-middle-header-middle {
	height: $middle-header;
	text-align: center;
}

.team-middle-header-middle-text {
	line-height: $middle-header;
	font-size: 16px;
}

.team-middle-header-right p{
	text-align: right;
	height: $middle-header;
	line-height: $middle-header;
	font-size: 16px;

}

.fa-angle-down {
	padding-left: 5px;
	font-size: 30px;
}

.team-middle-post {
	padding-top: 20px;
	padding-bottom: 10px;
	border-bottom: 1px solid $grey;
	a {
		color: $grey;
	}
}

.team-user-name {
	@extend .mainuser-name;
	font-size: 20px;
}
.team-user-email {
	@extend .mainuser-email;
	font-weight: 200;
}

.team-user-message-content p{
	font-size: 14px;
}

.fa-comment-o:hover,
.fa-share-square-o:hover,
.fa-thumbs-o-up:hover {
	color: $blue;
}

// TEAMS

.team-public, .team-private {
	display:inline-block;

}

