
$color-odd: #e6e6e6;
$bgfooter: #d8d8d8;
$font-stack: 'Lato','Arial',sans-serif;
$font-art: 'Arima Madurai';
$orange: #e67e23;
$orange1: #ff9000; 
$yellow: #fbbc05;
$green: #2ec866;
$cloud: #f0f0f0;
$blue: #3498db;
$blue-dark: #1580c7;
$grey: #999;