@media only screen and (max-width: 1200px) {
  HeaderNavBar {
    width: 50%; } }
@media only screen and (max-width: 1023px) {
  .slogan {
    font-size: 20px; } }
/*-----------------------------------------*/
/* GENERAL SETTINGS
/*-----------------------------------------*/
* {
  margin: 0;
  padding: 0;
  font-family: "Lato", sans-serif;
  box-sizing: border-box; }

html {
  background-color: white;
  font-family: "Lato", sans-serif;
  font-size: 20px;
  font-weight: 400;
  text-rendering: optimizeLegibility; }

p {
  font-size: 18px; }

a {
  text-decoration: none !important; }

a:hover {
  cursor: pointer; }

/*-----------------------------------------*/
/* REUSABLE
/*-----------------------------------------*/
h1, h2, h3 {
  text-align: center;
  font-weight: 300;
  text-transform: uppercase;
  letter-spacing: 1px; }

h1 {
  color: white;
  font-weight: 200;
  word-spacing: 4px;
  font-size: 2vw;
  font-size: 300%; }

h2 {
  font-size: 200%;
  word-spacing: 2px;
  margin-bottom: 30px; }

.odd, .odd-column {
  background-color: #f0f0f0; }

.even {
  background-color: white; }

section {
  padding: 50px 0; }

.row-half {
  background-color: black;
  display: inline-block;
  width: 50%;
  float: left; }

.row {
  margin: 0;
  padding: 0; }

.submit {
  margin: 0 auto; }

.row-full {
  text-align: center;
  width: 90%;
  height: auto;
  margin: 0 auto; }

.header h1 {
  color: black;
  text-transform: none;
  font-weight: 400;
  text-align: center;
  margin-bottom: 20px; }

.fixed-top {
  width: 100%;
  position: fixed;
  top: 0;
  z-index: 2; }

.container-fluid {
  margin: 0;
  padding: 0; }

.clearpadding, .row-two-input-left, .row-two-input-right, .reset-password-button {
  padding: 0;
  margin: 0; }

.invi {
  display: none; }

.clearfix {
  zoom: 1; }

.clearfix::after {
  content: " ";
  clear: both;
  display: block;
  height: 0;
  visibility: hidden; }

.test1 {
  background-color: #222; }

.test2 {
  background-color: green; }

.test3 {
  background-color: yellow; }

.thin-text {
  font-weight: 200; }

.inline-block {
  display: inline-block; }

.normal-size, .normal {
  font-size: 14px;
  font-weight: normal; }

.normal {
  margin-left: 13px; }

.center {
  margin-left: auto;
  margin-right: auto;
  text-align: center; }

.row-two-input-left {
  width: 50%;
  padding-right: 2px; }

.row-two-input-right {
  width: 50%;
  padding-left: 2px; }

.blue-link {
  color: #3498db; }

.fill-vertical {
  height: 40vh; }

.app-directory {
  width: 80vw;
  margin: auto; }
  .app-directory p {
    text-align: left;
    text-indent: 50px;
    line-height: 30px;
    font-size: 17px; }

.privacy, .security {
  line-height: 30px;
  width: 80vw;
  margin: auto; }
  .privacy h4, .security h4 {
    font-weight: 600; }
  .privacy h3, .security h3 {
    margin-top: 30px;
    margin-bottom: 30px; }
  .privacy p, .security p {
    line-height: 30px;
    font-size: 17px;
    text-indent: 50px;
    font-weight: normal; }

ul.privacy-list {
  list-style-position: inside;
  font-size: 17px;
  font-weight: normal; }
  ul.privacy-list li {
    list-style-position: inside; }

ul.security-list {
  list-style-position: inside;
  font-size: 17px;
  font-weight: normal; }
  ul.security-list li {
    list-style-position: inside;
    padding-left: 50px; }

ul.privacy-list-sub {
  list-style-position: inside;
  padding-left: 50px; }

.delwidth {
  display: none;
  width: 0px !important; }

/*-----------------------------------------*/
/* HEADER
/*-----------------------------------------*/
header {
  width: 100%;
  height: 100vh;
  background-image: linear-gradient(rgba(0, 0, 0, 0.9), rgba(0, 0, 0, 0.6)), url("https://c1.staticflickr.com/4/3727/33536825540_319eebaeac_o.jpg");
  background-size: cover;
  background-attachment: fixed;
  overflow: hidden; }

nav.navbar-inverse {
  background: black;
  border: none; }

.navbar {
  border-radius: 0; }
  .navbar ul {
    padding-top: 10px;
    padding-right: 10px; }
  .navbar li a:link, .navbar li a:visited {
    border-bottom: 2px solid transparent;
    font-size: 100%;
    color: #f0f0f0; }
  .navbar li a:active, .navbar li a:hover {
    border-bottom: 2px solid #e67e23;
    color: white;
    background: black; }

.nodecoration a:link {
  text-decoration: none; }

.homepage-header-login {
  margin-top: 10px; }

.logo-text {
  text-align: center;
  margin-top: 10%; }

.logo {
  position: absolute;
  float: left;
  left: 20px;
  width: 30px;
  height: 30px; }

.logo-habla {
  position: absolute;
  left: 50px;
  float: left;
  color: #f0f0f0;
  font-weight: 200;
  font-size: 20px;
  margin-left: 10px;
  margin-top: 5px; }

.slogan {
  font-weight: 400;
  font-size: 2.5vw;
  color: #f0f0f0;
  letter-spacing: 1px;
  word-spacing: 5px;
  margin-bottom: 30px; }

.slogan-small {
  font-size: 3vw;
  color: white;
  font-weight: 100;
  word-spacing: 3px; }

.fast-register {
  margin: auto;
  margin-bottom: 20px;
  width: 360px;
  height: 130px;
  background: rgba(0, 0, 0, 0.7);
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  -ms-border-radius: 10px;
  -o-border-radius: 10px;
  border-radius: 10px; }

.register-first {
  padding-top: 30px; }

.register-second p {
  color: #f0f0f0;
  font-weight: 200;
  font-size: 12px;
  margin-top: 20px;
  letter-spacing: 1px; }
.register-second a:link, .register-second a:visited {
  color: #3498db; }
.register-second a:active, .register-second a:hover {
  color: #1580c7; }

.create-new-team {
  width: 160px;
  background: #3498db;
  color: #f0f0f0;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  -o-border-radius: 5px;
  border-radius: 5px; }

.create-new-team:hover {
  background: #1580c7;
  color: white; }

.home-yourteam {
  background-color: grey; }

.home-yourteam-item a {
  color: black !important;
  border-bottom: none !important; }
.home-yourteam-item a:hover {
  background-color: white !important;
  border: none !important;
  border-bottom: none !important;
  color: #1580c7 !important; }

.scroll-mouse {
  position: absolute;
  left: 48%;
  bottom: 5%;
  height: 50px;
  width: 35px;
  border: 2px solid white;
  -webkit-border-radius: 23px;
  -moz-border-radius: 23px;
  -ms-border-radius: 23px;
  -o-border-radius: 23px;
  border-radius: 23px; }

.wheel {
  position: inherit;
  display: block;
  left: 38%;
  top: 10%;
  width: 8px;
  height: 8px;
  background: white;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  -o-border-radius: 50%;
  border-radius: 50%;
  animation-name: scrolling;
  animation-duration: 1.2s;
  animation-timing-function: ease-in;
  animation-iteration-count: infinite; }

@keyframes scrolling {
  from {
    top: 10%;
    opacity: 1; }
  to {
    top: 60%;
    opacity: 0.0; } }
/*-----------------------------------------*/
/* BODY
/*-----------------------------------------*/
.bottom-register {
  text-align: center; }

/*-----------------------------------------*/
/* FOOTER
/*-----------------------------------------*/
footer {
  background-color: #d8d8d8;
  padding-top: 80px;
  font-size: 80%;
  color: #999;
  padding-bottom: 50px; }

.footer-title {
  color: black; }

.footer-link {
  color: #999;
  transition: color 0.2s linear; }

.footer-link:hover {
  color: white; }

.footer-nav p {
  font-size: 12px; }

.footer-icon {
  font-size: 25px;
  color: #999; }

.ion-social-facebook:hover {
  color: #3b5998;
  cursor: pointer; }

.ion-social-twitter:hover {
  color: #55acee;
  cursor: pointer; }

.ion-social-youtube:hover {
  color: #e73c2f;
  cursor: pointer; }

.ion-social-facebook,
.ion-social-twitter,
.ion-social-youtube {
  color: #999; }

.social {
  margin-top: 20px; }
  .social a {
    margin: 10px; }

.homepage-who {
  max-width: 100%;
  height: auto; }

.header-login {
  height: auto;
  background-color: #e6e6e6;
  margin: 0;
  padding: 0; }

.logo-login {
  margin-top: 15px;
  margin-left: 0;
  width: 40px;
  height: 40px; }

.form-login {
  margin: 10px 0px 0 0px;
  padding: 0;
  padding-right: 5px;
  height: 60px; }

.help-block {
  font-size: 12px; }

.login-submit {
  margin: 10px 0 20px 0px; }

.forgot-password {
  color: #999; }

.signup-guide {
  padding: 80px 50px 0 10px; }
  .signup-guide p {
    font-size: 14px; }
  .signup-guide h5 {
    color: #999; }

.signup-fill h1 {
  color: black;
  text-transform: none;
  font-weight: 400;
  text-align: left;
  margin-bottom: 20px; }

.ion-help-circled {
  font-size: 30px;
  margin: 0;
  color: white;
  padding-top: 6px; }

.ion-help-circled:hover {
  color: #1580c7;
  cursor: pointer; }

.delheight {
  display: none; }

.signup-submit {
  margin-top: 30px; }

.forgot-notice {
  margin-top: 20px; }
  .forgot-notice p {
    font-size: 14px;
    color: #999; }

.reset-password-button {
  padding-right: 5px; }

.reset-cancel {
  background-color: #e6e6e6; }

.reset-cancel:hover {
  background-color: #999; }

.preview-image {
  width: 100px;
  height: 100px;
  border: grey solid 2px;
  text-align: center;
  font-size: 70px;
  color: grey; }

.dropdown-list {
  z-index: 5;
  overflow: scroll;
  background: white; }

.selected {
  color: #3498db; }

.placeholder_search {
  font-family: Arial, fontAwesome; }

.notify-link {
  color: #3498db;
  font-size: 14px;
  margin-top: 40px;
  text-align: center; }

.fa-plus-circle {
  font-size: 40px;
  color: #3498db; }

.fa-plus-circle:hover {
  color: #1580c7; }

.overwrite-button {
  margin-top: 20px;
  text-align: center;
  border: none;
  border-radius: 50%;
  width: 60px;
  height: 60px; }

.overwrite-button:hover {
  background-color: transparent; }

.user-avatar-title {
  font-weight: bold;
  padding-bottom: 5px; }

.dz-preview {
  background-color: white !important;
  border-radius: 0px !important; }

.dz-file-preview {
  background-color: white !important;
  border-radius: 0px !important; }

.dz-details {
  background-color: white !important; }

.dropzone-previews {
  border-radius: none; }

.dz-max-files-reached {
  background-color: blue; }

.country-selector {
  margin-top: 10px; }

.header-account {
  height: 70px;
  text-align: right;
  margin-right: 20px;
  padding-top: 20px;
  color: #1580c7; }

.center-link {
  text-align: center;
  margin-top: 20px; }

.info-alert {
  text-align: center;
  color: red;
  font-size: 14px; }

#homepage {
  width: 100%;
  height: 100vh; }

.pricing {
  margin-top: 30px; }
  .pricing th {
    text-align: center;
    font-size: 20px;
    height: 70px; }
  .pricing td {
    text-align: center;
    padding-top: 10px;
    padding-bottom: 10px;
    border-bottom: 1px solid #f0f0f0;
    height: 70px;
    color: grey; }
  .pricing .pricing-amount {
    font-size: 50px;
    font-weight: 800;
    color: black; }
  .pricing .dollar {
    font-size: 30px;
    color: grey;
    vertical-align: top; }
  .pricing .pricing-first-column {
    color: black; }
  .pricing .space {
    border-bottom: none; }

table {
  width: 100% !important; }

.logo-header {
  width: 30px;
  height: 30px;
  margin-top: 10px !important; }

.teamroom-header-login {
  height: auto;
  background-color: #000;
  margin: 0;
  padding: 0; }

.team-header-icon {
  display: inline-block;
  text-align: center;
  width: 100px; }

.team-header-icons-nav {
  text-align: center;
  padding-bottom: 5px; }

.team-header-nav-text {
  color: grey;
  font-size: 12px; }

.fa-newspaper-o,
.fa-bolt,
.fa-comments,
.fa-calendar-o {
  text-align: center;
  font-size: 20px;
  color: white;
  padding-top: 10px; }

.fa-newspaper-o:hover,
.fa-bolt:hover,
.fa-comments:hover,
.fa-calendar-o:hover,
.fa-newspaper-o:active,
.fa-bolt:active,
.fa-comments:active,
.fa-calendar-o:active {
  color: #3498db;
  cursor: pointer; }

.user-avatar {
  width: 30px;
  height: 30px;
  text-align: center;
  margin-top: 10px;
  color: white; }
  .user-avatar p {
    padding-top: 5px;
    color: white;
    font-weight: 600;
    font-size: 16px; }
  .user-avatar img {
    width: 30px;
    height: 30px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -ms-border-radius: 5px;
    -o-border-radius: 5px;
    border-radius: 5px; }

.teamroom-body-nav {
  width: 100%;
  height: auto;
  border-bottom: 1px solid #f0f0f0; }

.teamroom-body-nav-links {
  padding: 10px 5px 10px 10px; }

.breadcrumb-passive {
  color: #999 !important; }

.breadcrumb-active {
  color: #3498db !important; }

.teamroom-body-nav-link {
  display: inline-block;
  padding-left: 5px; }

.teamroom-lobby {
  width: 80%;
  position: absolute;
  top: 96px;
  left: 210px;
  right: 0;
  bottom: 65px;
  overflow-y: scroll; }

.teamroom-header-menu {
  line-height: 40px; }

.teamroom-name {
  color: #3498db;
  font-weight: 800;
  font-size: 20px;
  text-align: left; }

.number-user-active {
  color: #3498db; }

.user-input {
  max-height: 100px !important;
  width: 80% !important;
  position: fixed !important;
  bottom: 10px !important;
  left: 220px;
  border: 2px solid grey;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  -o-border-radius: 5px;
  border-radius: 5px;
  padding-left: 10px;
  padding-top: 10px;
  resize: vertical; }

.clearmargin {
  margin: 0;
  padding-top: 0; }

.date-item {
  display: inline-block;
  vertical-align: middle; }

.chat-date {
  color: #999;
  text-align: center;
  border: solid 1px #e6e6e6;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  -o-border-radius: 5px;
  border-radius: 5px; }

.line-break {
  border-bottom: dashed 1px #e6e6e6; }

.fa-star-o,
.fa-folder-o,
.post-start,
.post-folder {
  color: #dadada; }

.fa-plus-square-o {
  color: #ff9000; }

.fa-minus-square-o,
.post-time {
  color: #999; }

.fa-minus-square-o:hover,
.fa-plus-square-o:hover,
.fa-plus-square-o:active,
.fa-minus-square-o:active {
  color: #3498db;
  cursor: pointer; }

.post-header-right {
  float: right;
  margin-right: 20px; }

.teamroom-container {
  height: auto;
  margin-top: 20px; }

.post-header {
  line-height: 25px; }

.post-name {
  font-weight: bold; }

.post-avatar {
  width: 25px;
  height: 25px;
  border-radius: 5px;
  color: white;
  text-align: center;
  background-color: #3498db; }

.post-header-item {
  display: inline-block;
  margin-left: 15px;
  vertical-align: middle; }

.post-footer {
  margin-top: 10px;
  padding-bottom: 0px; }

.post-body-vote {
  visibility: hidden;
  vertical-align: top;
  text-align: center;
  width: 3%;
  color: #999; }

.post-content {
  width: 97%; }

.clearall {
  padding: 0 !important;
  margin: 0 !important;
  width: 100%; }

.post-body-item {
  display: inline-block !important;
  margin-top: 10px; }

.post-seperator {
  padding-top: 5px;
  border-bottom: solid 1px #e6e6e6; }

.teamroom-left-nav {
  width: 200px;
  height: calc(100vh - 96px);
  position: absolute;
  top: 500;
  left: 0;
  z-index: 5;
  overflow-y: scroll;
  border: solid 2px #999;
  border-radius: 10px; }

.fa-circle {
  font-size: 10px;
  margin-right: 5px; }

.dot-status-yellow {
  color: #f39c12; }

.dot-status-green {
  color: #2ec866; }

.message-reply {
  max-height: 100px !important;
  border-radius: 3px;
  border: 2px solid grey;
  margin-bottom: 0px;
  margin-top: 5px;
  width: 90%;
  resize: vertical;
  padding-left: 10px; }

.message-content {
  white-space: pre; }

.post-sub {
  margin-top: 10px; }

.post-sub-hide {
  display: none !important; }

.vote-bottom-item {
  display: inline-block;
  margin-left: 20px;
  vertical-align: middle;
  color: #dadada; }

.user-avatar-item {
  display: inline-block;
  width: 60px; }

.user-avatar-text {
  font-size: 14px;
  margin-left: 5px;
  width: 100px; }

.user-avatar-image-text {
  width: 160px; }

.post-avatar-image-text {
  width: 100px; }

.post-avatar-image {
  width: 30px;
  height: 30px;
  border-radius: 5px;
  text-align: center; }

.post-avatar-text {
  width: 60px;
  font-weight: bold;
  font-size: 14px; }

.post-avatar-item {
  display: inline-block;
  margin-right: 20px; }

.member-status-away {
  margin-top: 5px;
  margin-left: 10px;
  color: #999;
  font-style: italic;
  font-size: 14px; }
  .member-status-away img {
    border-radius: 5px;
    width: 25px;
    height: 25px;
    opacity: 0.4;
    -webkit-filter: grayscale(100%);
    -moz-filter: grayscale(100%);
    -o-filter: grayscale(100%);
    -ms-filter: grayscale(100%);
    filter: grayscale(100%); }

.member-status-available {
  margin-top: 5px;
  margin-left: 10px;
  color: black;
  font-weight: bold;
  font-size: 14px; }
  .member-status-available img {
    border-radius: 5px;
    width: 25px;
    height: 25px; }

.member-status-name {
  margin-left: 5px; }

.teamroom-left-nav-title-status {
  margin-top: 10px;
  text-align: center;
  font-weight: bold; }

.teamroom-member-status-container {
  height: 80%;
  overflow: scroll; }

.avatar-button {
  border-radius: 10px !important;
  border: none; }

/*# sourceMappingURL=app.css.map */
