/*-----------------------------------------*/
/* GENERAL SETTINGS 
/*-----------------------------------------*/
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box; }

html {
  background-color: white;
  font-family: "Lato", "Arial", sans-serif;
  font-size: 20px;
  font-weight: 400;
  text-rendering: optimizeLegibility; }

p {
  font-size: 18px; }

a {
  text-decoration: none !important;
  color: white; }

a:hover {
  cursor: pointer; }

/*-----------------------------------------*/
/* REUSABLE
/*-----------------------------------------*/
h1, h2, h3 {
  text-align: center;
  font-weight: 300;
  text-transform: uppercase;
  letter-spacing: 1px; }

h1 {
  color: white;
  font-weight: 200;
  word-spacing: 4px;
  font-size: 300%; }

h2 {
  font-size: 200%;
  word-spacing: 2px;
  margin-bottom: 30px; }

.odd {
  background-color: #e6e6e6; }

section {
  padding: 80px 0; }

.row-half {
  background-color: black;
  display: inline-block;
  width: 50%;
  float: left; }

.row {
  margin: 0;
  padding: 0; }

.submit {
  margin: 0 auto; }

.row-full {
  text-align: center;
  width: 90%;
  height: auto;
  margin: 0 auto; }

.fixed-top {
  width: 100%;
  position: fixed;
  top: 0;
  z-index: 2; }

.container-fluid {
  margin: 0;
  padding: 0; }

.invi {
  display: none; }

.clearfix {
  zoom: 1; }

.clearfix::after {
  content: " ";
  clear: both;
  display: block;
  height: 0;
  visibility: hidden; }

.test1 {
  background-color: blue; }

.test2 {
  background-color: green; }

.test3 {
  background-color: yellow; }

.thin-text {
  font-weight: 200; }

.inline-block {
  display: inline-block; }

/*-----------------------------------------*/
/* HEADER
/*-----------------------------------------*/
header {
  height: 100vh;
  background-image: linear-gradient(rgba(0, 0, 0, 0.9), rgba(0, 0, 0, 0.6)), url(/resources/img/header5.jpg);
  background-size: cover;
  background-attachment: fixed;
  overflow: hidden; }

nav.navbar-inverse {
  background: transparent;
  border: none; }

.navbar ul {
  padding-top: 10px;
  padding-right: 20px; }
.navbar li a:link, .navbar li a:visited {
  border-bottom: 2px solid transparent;
  font-size: 100%;
  color: #f0f0f0; }
.navbar li a:active, .navbar li a:hover {
  border-bottom: 2px solid #e67e23;
  color: white;
  background: black; }

.nodecoration a:link {
  text-decoration: none; }

.logo-text {
  text-align: center;
  margin-top: 10%; }

.logo {
  position: absolute;
  float: left;
  left: 20px;
  width: 30px;
  height: 30px; }

.logo-habla {
  position: absolute;
  left: 50px;
  float: left;
  color: #f0f0f0;
  font-weight: 200;
  font-size: 20px;
  margin-left: 10px;
  margin-top: 5px; }

.slogan {
  font-weight: 400;
  font-size: 50px;
  color: #f0f0f0;
  letter-spacing: 1px;
  word-spacing: 5px; }

.slogan-small {
  font-size: 30px;
  color: white;
  font-weight: 100;
  word-spacing: 3px; }

.fast-register {
  margin: auto;
  width: 400px;
  height: 150px;
  background: rgba(0, 0, 0, 0.7);
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  -ms-border-radius: 10px;
  -o-border-radius: 10px;
  border-radius: 10px; }

.register-first {
  padding-top: 30px; }

.register-second p {
  color: #f0f0f0;
  font-weight: 200;
  font-size: 12px;
  margin-top: 20px;
  letter-spacing: 1px; }
.register-second a:link, .register-second a:visited {
  color: #3498db; }
.register-second a:active, .register-second a:hover {
  color: #1580c7; }

.create-new-team {
  width: 180px;
  background: #3498db;
  color: #f0f0f0;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  -o-border-radius: 5px;
  border-radius: 5px; }

.create-new-team:hover {
  background: #1580c7;
  color: white; }

.scroll-mouse {
  position: absolute;
  left: 48%;
  bottom: 5%;
  height: 50px;
  width: 35px;
  border: 2px solid white;
  -webkit-border-radius: 23px;
  -moz-border-radius: 23px;
  -ms-border-radius: 23px;
  -o-border-radius: 23px;
  border-radius: 23px; }

.wheel {
  position: inherit;
  display: block;
  left: 38%;
  top: 10%;
  width: 8px;
  height: 8px;
  background: white;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  -o-border-radius: 50%;
  border-radius: 50%;
  animation-name: scrolling;
  animation-duration: 1.2s;
  animation-timing-function: ease-in;
  animation-iteration-count: infinite; }

@keyframes scrolling {
  from {
    top: 10%;
    opacity: 1; }
  to {
    top: 60%;
    opacity: 0.0; } }
/*-----------------------------------------*/
/* BODY
/*-----------------------------------------*/
.bottom-register {
  text-align: center; }

/*-----------------------------------------*/
/* FOOTER
/*-----------------------------------------*/
footer {
  background-color: #d8d8d8;
  padding-top: 80px;
  font-size: 80%;
  color: #999;
  padding-bottom: 50px; }

.footer-title {
  color: black; }

.footer-link {
  color: #999;
  transition: color 0.2s linear; }

.footer-link:hover {
  color: white; }

.footer-nav p {
  font-size: 12px; }

.footer-icon {
  font-size: 25px;
  color: #999; }

.ion-social-facebook:hover {
  color: #3b5998; }

.ion-social-twitter:hover {
  color: #55acee; }

.ion-social-youtube:hover {
  color: #e73c2f; }

.ion-social-facebook,
.ion-social-twitter,
.ion-social-youtube {
  color: #999; }

.social {
  margin-top: 20px; }
  .social a {
    margin: 10px; }

.header-login {
  height: auto;
  background-color: #d8d8d8;
  margin: 0;
  padding: 0; }

.logo-login {
  margin-top: 15px;
  margin-left: 0;
  width: 40px;
  height: 40px; }

.form-login {
  margin: 10px 0px 0 0px;
  padding: 0;
  padding-right: 5px;
  height: 60px; }

.help-block {
  font-size: 12px; }

.login-submit {
  margin: 10px 0 20px 0px; }

.forgot-password {
  color: #999; }

.signup-guide {
  padding: 80px 50px 0 10px; }
  .signup-guide p {
    font-size: 14px; }
  .signup-guide h5 {
    color: #999; }

.signup-fill h1 {
  color: black;
  text-transform: none;
  font-weight: 400;
  text-align: left;
  margin-bottom: 20px; }

.ion-help-circled {
  font-size: 30px;
  margin: 0;
  color: white;
  padding-top: 6px; }

.ion-help-circled:hover {
  color: #1580c7;
  cursor: pointer; }

.signup-small {
  margin: 0;
  padding: 0;
  height: 60px;
  padding-right: 5px; }

.delheight {
  display: none; }

.clearpadding, .reset-password-button, .body-middle {
  padding: 0;
  margin: 0; }

.signup-submit {
  margin-top: 30px; }

.forgot-notice {
  margin-top: 20px; }
  .forgot-notice p {
    font-size: 14px;
    color: #999; }

.fill-vertical {
  height: 300px; }

.reset-password-button {
  padding-right: 5px; }

.reset-cancel {
  background-color: #e6e6e6; }

.reset-cancel:hover {
  background-color: #999; }

.team-search {
  margin-top: 20px; }

.search-button {
  margin: 0;
  padding: 0;
  width: 60px;
  background: #ff9000;
  border: none; }

.search-button:hover {
  background-color: #e67e23; }

.ion-ios-search-strong {
  margin: 0;
  padding: 0;
  font-size: 24px; }

.team-header-icons {
  margin-top: 16px;
  padding-left: 20px; }

.ion-ios-calendar-outline,
.ion-chatbubbles,
.ion-earth,
.ion-ios-gear,
.team-question-icon {
  font-size: 30px;
  padding-right: 30px;
  color: white; }

.ion-ios-calendar-outline:hover,
.ion-chatbubbles:hover,
.ion-earth:hover,
.ion-ios-gear:hover,
.team-question-icon:hover {
  color: #3498db;
  cursor: pointer; }

.body-left {
  border: 2px solid #f0f0f0; }

.mainuser {
  height: 90px;
  border-bottom: 1px solid black; }

.mainuser-avatar-container {
  height: 90px;
  margin: 0;
  padding: 0; }

.mainuser-avatar, .team-member-avatar {
  padding: 0;
  margin: 0;
  width: 40px;
  height: 40px;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  -ms-border-radius: 10px;
  -o-border-radius: 10px;
  border-radius: 10px;
  margin-top: 20px; }

.mainuser-info {
  height: 90px;
  padding-top: 15px; }
  .mainuser-info .mainuser-name p, .mainuser-info .team-user-name p {
    padding: 0;
    margin: 0;
    font-style: bold;
    font-weight: 400;
    font-size: 16px; }
  .mainuser-info .mainuser-email, .mainuser-info .team-user-email {
    font-size: 14px;
    color: #999; }
  .mainuser-info .mainuser-phone {
    font-size: 14px;
    color: #999; }

.team-members {
  overflow-y: scroll;
  height: 500px; }

.team-member {
  height: 70px; }

.team-member-avatar-container {
  margin: 0;
  padding: 0; }

.team-member-avatar {
  margin-top: 0; }

.member-message-time {
  color: #999; }

.team-nav-bottom {
  margin-top: 20px; }

.nav-horizontal {
  margin: 0;
  padding: 0;
  height: 400px;
  background-color: #e6e6e6;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  -ms-border-radius: 10px;
  -o-border-radius: 10px;
  border-radius: 10px; }

.nav-horizontal-icon-container {
  margin-top: 15px;
  margin-left: 12px;
  width: 30px;
  height: 30px;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  -o-border-radius: 50%;
  border-radius: 50%;
  background-color: #999;
  text-align: center; }

.nav-horizontal-icon-container:hover {
  cursor: pointer;
  background-color: #3498db; }

.fa-user-o,
.fa-bar-chart,
.fa-search,
.fa-star-o {
  margin: 0;
  padding: 0;
  padding-top: 4px;
  font-size: 20px;
  color: white; }

.team-nav-links a {
  color: black;
  margin-left: 10px; }

.team-nav-links-indent a {
  color: black;
  margin-left: 15px; }

.team-nav-links-indent-indent a {
  color: black;
  margin-left: 20px; }

.team-nav-links a:hover,
.team-nav-links-indent a:hover,
.team-nav-links-indent-indent a:hover {
  color: #3498db; }

.body-middle {
  border: 2px solid #f0f0f0;
  background-color: #f0f0f0; }

.team-middle-header {
  height: 50px;
  border-bottom: 1px solid black; }
  .team-middle-header h3 {
    margin: 0;
    padding: 0;
    padding-top: 10px;
    text-transform: none;
    font-weight: 600; }

.team-middle-header-middle {
  height: 50px;
  text-align: center; }

.team-middle-header-middle-text {
  line-height: 50px;
  font-size: 16px; }

.team-middle-header-right p {
  text-align: right;
  height: 50px;
  line-height: 50px;
  font-size: 16px; }

.fa-angle-down {
  padding-left: 5px;
  font-size: 30px; }

.team-middle-post {
  padding-top: 20px;
  padding-bottom: 10px;
  border-bottom: 1px solid #999; }
  .team-middle-post a {
    color: #999; }

.team-user-name {
  font-size: 20px; }

.team-user-email {
  font-weight: 200; }

.team-user-message-content p {
  font-size: 14px; }

.fa-comment-o:hover,
.fa-share-square-o:hover,
.fa-thumbs-o-up:hover {
  color: #3498db; }

/*# sourceMappingURL=app.css.map */
