.habla-toast {
  width: 384px;
  position: absolute;
  top: 35px;
  bottom: auto;
}
.habla-toast--position-topRight {
  right: 0px;
  margin-right: 24px;
}
.habla-toast--position-topLeft {
  left: 0px;
  margin-left: 24px;
}
