.TimeActivityGraph {
  position: relative;
  display: inline-block;
}

.TimeActivityGraph__graph {
  padding: 20px 10px 0 50px;
}

.TimeActivityGraph__axis line {
  stroke: lightgrey;
  stroke-opacity: 0.7;
  shape-rendering: crispEdges;
}

.TimeActivityGraph__axis path {
  stroke-width: 0;
}

.TimeActivityGraph__view {
  fill: none;
  pointer-events: all;
}
