.TimeActivityGraph {
  background-color: #557dbf;
}

.highcharts-tooltip > span {
  white-space: normal;
}

.tooltipContainer {
  display: -webkit-inline-box;
  vertical-align: -webkit-baseline-middle;
  min-width: 250px;
  max-width: 350px;
}

.tooltipTextContainer {
  border-left: 1px solid #444;
  padding-left: 10px;
  margin-left: 8px;
}

.tooltipTextContainer p {
  font-family: 'Lato', sans-serif;
  white-space: normal;
  font-size: 12px;
}

.tooltipTextPrimary {
  color: #f9b816;
  margin: 0 5px 5px 0;
  max-width: 200px;
  overflow: hidden;
  text-overflow: ellipsis;
  word-break: break-word;
}

.tooltipTextSecondary {
  color: white;
}
