.EditButton__container {
  width: 50px;
}
.EditButton__button {
  width: 50px;
  height: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 4px;
  border: 1px solid #ddd;
  font-size: 20px;
}
