.recoverPassword__buttons {
  display: flex;
  justify-content: center;
}
.recoverPassword__login-form-button {
  min-width: 6em;
  padding: .7em 0;
  height: fit-content;
}
.recoverPassword__login-form-button.disable {
  background-color: #777;
  border: none;
  margin-right: .5em;
}
.recoverPassword__login-form-button.active {
  background-color:  #37a759;
  border: none;
}