.recoverPassword-main-container {
  display: flex;
  flex: 1;
  flex-direction: column;
}
.recoverPassword-header {
  display: flex;
  height: fit-content;
  width: 100%;
  background-color: #000;
}
.recoverPassword-body {
  flex: 1;
  background-color: #fff;
  margin: 1em;
  border-radius: 4px;
}
.recoverPassword-form {
  margin: 2em auto;
  text-align: center;
}
.recoverPassword-form > h1 {
  color: #7b7b7b;
  font-weight: 700;
}
.recoverPassword-form > h2 {
  color: #7b7b7b;
  font-weight: 300;
  font-size: 1.7em;
}
.recoverPassword-body__main {
  background-color: #F7F7F7;
  padding: 2em 0;
  margin: 2em 0;
}
.recoverPassword__buttons {
  display: flex;
  justify-content: center;
}
.recoverPassword__login-form-button {
  min-width: 6em;
  padding: .7em 0;
  height: fit-content;
}
.recoverPassword__login-form-button.disable {
  background-color: #777;
  border: none;
  margin-right: .5em;
}
.recoverPassword__login-form-button.active {
  background-color:  #37a759;
  border: none;
}
.recoverPassword__text {
  margin-bottom: 1em;
}
.recoverPassword__field-wrapper {
  width: 50%;
  margin: 0 auto;
  padding: 0 9em;
}
.recoverPassword__field-wrapper > .ant-form-item {
    margin-bottom: 0;
}
.email-sent__info {
  font-weight: 300;
}
.recoverPassword__user-email {
  color: #000;
  font-weight: 600;
  font-size: 1.8em;
}
