.editOrgPage-main .simple-card__icons {
	font-size: 17px!important;
	color: #fff!important;
}
.editOrgPage-main .ant-card-head {
	position: absolute;
	top: -2px;
	right: 3px;
}
.editOrgPage-main .integration-list .ant-avatar {
	background:#fff!important;
	border: 1px solid #eee!important;
}
.editOrgPage-main .integration-list .add-avatar .ant-avatar {
	background:#ccc!important;
	border: none!important;
}
