.app-version-container {
  background: #ffffff;
  margin: auto;
  width: 100%;
  text-align: center;
}

.app-version {
  padding: 10px;
  color: #cacaca;
  font-size: 12px;
  font-weight: 300;
  margin: 20px;
  display: inline-block;
}
.app-version img {
  height: 18px;
  display: block;
  margin: 10px auto;
}
