.TeamIntegration__icon-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}
.TeamIntegration__switch-container {
  padding: 18px;
}
.TeamIntegration__icon-container .ant-card {
  width: inherit;
  height: inherit;
  background: #fff;
  margin: 0 0 8px;
}
.TeamIntegration .habla-big-title {
  font-weight: 900;
}

.TeamIntegration__button-container {
  padding: 18px;
  border-top: 1px solid #f7f7f7;
}

.TeamIntegration__button-container .TeamIntegration__button {
  background: #5b7eba;
  color: #fff;
  font-weight: 700;
  border: none;
  height: 40px;
}

.TeamIntegration__button-container .TeamIntegration_integration-date {
  color: #999;
  display: block;
  margin-bottom: 15px;
  font-size: 13px;
}

.TeamIntegration__content-loading {
  display: flex;
  flex-direction: column;
  height: 100%;
  min-height: 80px;
  align-items: center;
  justify-content: center;
}
.TeamIntegration__content-loading .spinner {
  margin-top: 30px;
  height: 30px;
  flex: none;
}
