.Integration .habla-big-title {
  font-weight: 900;
}

.Integration__icon-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}
.Integration__switch-container {
  padding: 18px;
}
.Integration__right-col {
  padding-left: 40px;
}
.Integration__icon-container .ant-card {
  width: inherit;
  height: inherit;
  background: #fff;
  margin: 0 0 8px;
}
.Integration__config-label {
  font-size: 11pt;
  font-family: 'Lato', sans-serif;
  color: #000;
  font-weight: 600;
  margin-right: 10px;
}
.Integration__config-input {
  font-size: 11pt;
  font-family: 'Lato', sans-serif;
  color: #000;
  font-weight: normal;
  border-radius: 4px;
  border: 1px solid lightgray !important;
  outline: none;
  padding: 12px;
  margin: 2px;
  margin-bottom: 8px;
  width: 220px;
}
.Integration__config-container {
  display: flex;
  font-size: 11pt;
  font-family: 'Lato', sans-serif;
  color: #000;
  justify-content: center;
  padding-left: 70px;
}
.Integration__config-folders-label {
  font-weight: 600;
  margin-top: 12px;
  margin-right: 10px;
}
.Integration__config-folders {
  padding: 4px;
  border-radius: 4px;
  border: 1px solid lightgray;
}
.Integration__config-folder {
  width: fit-content;
}
.Integration__config-folder-checkbox {
  display: inline-flex;
  padding: 6px;
  align-items: flex-start;
  width: 100%;
}
.Integration__config-folders-save-button {
  margin: 10px !important;
  justify-content: center;
}

.TeamIntegration__button-container {
  padding: 18px;
  border-top: 1px solid #f7f7f7;
}

.TeamIntegration__button-container .TeamIntegration__button {
  background: #5b7eba;
  color: #fff;
  font-weight: 700;
  border: none;
  height: 40px;
  min-width: auto;
}

.TeamIntegration__button-container .TeamIntegration_integration-date {
  color: #999;
  display: block;
  margin-bottom: 15px;
  font-size: 13px;
}
