.notificationHeader-title {
  flex: 1;
}
.notificationHeader-options {
  flex: .5;
  justify-content: space-between;
  align-items: center;
}
.notification-body {
  overflow: scroll;
  flex: 1;
  flex-direction: column;
}
.notification-body__item {
  display: flex;
  padding: 10px;
  border-bottom: 1px solid #eee;
  cursor: pointer;
  position: relative;
}
.notification-body__item:hover {
  background-color: #F7F7F7;
}
.notification-body__item.new {
  background-color: #F7F7F7;
}
.notification-body__item.new.last-new {
  border-bottom: 2px solid #EB4435;
}
.notification-body__item.last-new > .last-new__text {
  background-color: #EB4435;
  border-radius: 4px;
  color: #fff;
  position: absolute;
  right: 15px;
  bottom: -9px;
  font-size: 10px;
  padding: 3px 5px;
  z-index: 1;
}
.notification-body__item__content {
  margin-left: 1em;
}
.content-body__time-ago {
  color: #DDDDDD;
  margin-left: .6em;
}
.notification-body__unread {
  background-color: #F7F7F7;
  color: #EB4435!important;
  justify-content: flex-end;
  padding: 15px 15px 5px 15px;
}
.notification-body__unread > .total-unread {
  font-weight: 800;
  margin-right: .2em;
}
.notification-body__unread > .mark-as-read {
  cursor: pointer;
  text-decoration: underline;
}
