.notificationHeader-title {
  flex: 1;
}
.notificationHeader-options {
  flex: .5;
  justify-content: space-between;
  align-items: center;
}
.notification-body {
  overflow: scroll;
  flex: 1;
  flex-direction: column;
}
.notification-body__item {
  display: flex;
  padding: 10px;
  border-bottom: 1px solid #eee;
  cursor: pointer;
  position: relative;
}

.notification-body__item.unread {
  background-color: #fffbf3;
}
.notification-body__item:hover
, .notification-body__item.unread:hover  {
  background-color: #F7F7F7;
}
.notification-body__item__content {
  margin-left: 20px;
  width: 100%;
}
.content-body__time-ago {
  color: #DDDDDD;
  margin-left: .6em;
}
.notification-body__unread {
  background-color: #fffbf3;
  color: #EB4435!important;
  justify-content: flex-end;
  padding: 15px 15px 5px 15px;
}
.notification-body__unread > .total-unread {
  font-weight: 800;
  margin-right: .2em;
}
.notification-body__unread > .mark-as-read {
  cursor: pointer;
  text-decoration: underline;
}
