.message__main-container {
  position: relative;
  cursor: pointer;
  padding: 10px 10px 20px 10px;
}
.message__main-container:hover {
  background-color: #f9f9f9;
}
.message__main-container:hover .message__options {
  display: block;
}
.message__main-counter {
  position: absolute;
  left: 5px;
  bottom: 14px;
}
.message__main-counter-number {
  background: #FBBC12;
  padding: 3px 5px;
  color: #000!important;
  border-radius: 3px;
}
.message__main-counter i.counter {
  position: relative;
  top: 10px;
  color: #ddd;
}
.message__icons {
  font-size: 15px;
  padding: 5px 8px;
}
.message__icons:not(:last-child) {
  border-right: 1px solid #666;
}
.message__col-user-icon {
  display: flex;
}
.message__col-icons {
  text-align: right;
}
.message__body-name {
  color: #999999;
  font-size: 8pt;
}
.message__body-text {
  font-size: 13px;
  color: black;
}
.message__body-text-date {
  color: #999999;
}
.message__body-thumbs-icon {
  margin-left: 8px;
}
.message__body-thumbs-icon i {
  margin: 0 2px;
}
.message-nested {
  border-left: 10px solid #ccc;
  -webkit-transition: display 2s;
}
.message__options {
  background-color: #000;
  border-radius: 4px;
  padding: 5px 0 7px 0;
  position: absolute;
  right: 10px;
  bottom: 10px;
  z-index: 1;
}
.message__options a {
  color: #fff;
}
.message__options a:hover {
  color: #FBBC12;
}
.hide {
  display: none;
}
.team-room__file-upload-input {
  width: 0.1px;
  height: 0.1px;
  opacity: 0;
  overflow: hidden;
  position: absolute;
  z-index: -1;
}
.counter {
  padding: .2em .5em;
}