.Subpage-header__title a {
  font-weight: 300;
  color: #000;
}
.Subpage-header__title a:hover {
  color: #666;
}
.Subpage-header__title.habla-title {
  line-height: 12pt;
}
.habla-main-content-header-actions {
  display: inline-flex;
}
.ckg-link {
  margin: 8px;
  font-size: 18px;
  color: #999;
  cursor: pointer;
}
