
.preview-images {
	display: flex;
	align-items: center;
}

.preview-images img {
	width: 100px;
	margin-right: .5em;
	margin-left: .5em;
	margin-top: .5em;
	cursor: pointer;
}

.preview-images img:hover {
	opacity: .8
}

.image-wrapper {
	background-color: #ececec;
	margin-right: .5em;
	margin-top: .5em;
	border-radius: 2px;
	width: 112px;
}

.PreviewImages__modal-img {
  width: 100%;
}

.file-wrapper__extension {
	margin: .5em 1.8em 0.3em 1.8em;
	position: relative;
	width: fit-content;
}

.file-wrapper__file-type {
	position: absolute;
	bottom: 0;
	left: 0;
	right: 0;
	text-align: center;
	background-color: #75d2ec;
	text-transform: uppercase;
	color: #fff;
}

.preview__file-wrapper {
	width: 107px;
}

.is-file {
	width: 1000px !important;
}