.PreviewCard__container, .PreviewCard__image {
  width: 106px;
  height: 116px;
  margin-bottom: 0 !important;
  margin-left: 0 !important;
}
.PreviewCard__container > div.ant-card-body {
  padding: 0;
}
.PreviewCard__container > div.ant-card-extra {
  right: 1px;
  top: -5px;
}
.PreviewCard__close-button {
  color: #888888;
  font-size: 18px;
}
.PreviewCard__close-button {
  color: #bbbbbb;
}
