.PreviewCard__container > div.ant-card-head {
  position: absolute;
  right: 10px;
  top: 2px;
  padding: 0;
  border: none;
  background: none;
  height: fit-content;
  line-height: 0;
}
.PreviewCard__container > div.ant-card-body {
  padding: 0;
}
.PreviewCard__container > div.ant-card-extra {
  right: 1px;
  top: -5px;
}
.PreviewCard__close-button {
  color: #999;
  font-size: 18px;
}
.PreviewCard__close-button svg {
  background: #fff;
  border-radius: 50%;
}
.PreviewCard__close-button:hover {
  color: #666;
}
.PreviewCard__is-file {
  height: auto;
}
.file-wrapper {
  position: absolute;
  bottom: 14px;
  left: 0;
  right: 0;
  text-align: center;
  background-color: transparent;
  text-transform: uppercase;
  color: #fff;
  font-size: 11px;
}
.file-name {
  display: block;
  text-align: center;
}
.file-icon {
  font-size: 6em;
  overflow: hidden;
}
.PreviewBar__image-wrapper .file-icon {
  font-size: 7em;
}
.file-type {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: #75d2ec;
  color: #fff;
  text-transform: uppercase;
}
.PreviewCard__container img {
  width: 52px;
  margin-right: 0.35em;
  margin-left: 0.35em;
  margin-top: 0.35em;
  cursor: pointer;
}
