.PreviewBar__files-container {
  display: flex;
  flex-wrap: wrap;
  margin: 0 13px 0 8px;
}
.PreviewBar__message-body-name {
  color: #999999;
  font-size: 11px;
  display: inline-flex;
}
.PreviewBar__message-body-text {
  font-size: 13px;
  color: black;
}
.PreviewBar__message-cancel-reply:hover {
  color: #666;
}
.PreviewBar__message_reply-wrapper {
  text-align: left;
}
.PreviewBar__message_reply-container {
  padding: 8px;
  margin: 0 10px 1px 10px;
  border-radius: 4px 4px 0 0;
  background-color: #eee;
  color: #999;
  position: relative;
  display: inline-block;
  min-width: 120px;
}
.PreviewBar__message-cancel-reply-col {
  text-align: right;
  position: absolute;
  right: 8px;
  top: 4px;
  font-size: 22px;
  color: #ccc;
}
.PreviewBar__message-cancel-reply-col a {
  color: #ccc;
  font-size: 20px;
}
.PreviewBar__file-placeholder-icon {
  font-size: 70px;
  color: #666;
}
.PreviewBar__file-placeholder-title {
  padding-top: 15px;
  color: #666;
}
.PreviewBar__file-placeholder-container {
  width: 100%;
  text-align: center;
  margin: 10px 8px 10px 0;
}
.team-room__chat-container .fa-reply {
  display: inline-flex;
  margin: 0 8px 0 0;
  color: #ccc;
}
.replyBorder {
  border-radius: 2px;
}
.PreviewBar__files-container .image-wrapper-content {
  background-color: #fff;
}

.Reply__header_container svg {
  margin-right: 5px;
}
