.message__main-container {
  position: relative;
  cursor: auto;
  padding: 10px 10px 0;
}
.message__main-container.grouped {
  padding: 1.5px 10px 1.5px;
}
.message__main-container:hover {
  background: #fafafa;
}
.message__main-container:hover .message__options {
  display: block;
}
.message__main-container > div {
  align-items: center;
}
.message__replies {
  padding-bottom: 5px;
}
.message__main-counter {
  position: absolute;
  left: 29px;
  top: 33px;
}
.message__main-counter-number {
  background: #fbbc12;
  padding: 3px 5px;
  color: #000 !important;
  border-radius: 3px;
}
.message__main-counter svg {
  position: relative;
  top: 14px;
  left: -12px;
  color: #ddd;
}
.message__icons {
  font-size: 20px;
  padding: 1px 10px;
}
.message__icons-selected {
  color: #fbbc12 !important;
}
.message__icons:not(:last-child) {
  border-right: 1px solid #666;
}
.message__col-user-icon {
  margin-top: 5px;
  min-width: 40px;
  align-self: flex-start;
}
.message__col-icons {
  text-align: right;
}
.message__body-name {
  color: #bbcde8;
  font-size: 8pt;
}
.message__body-text {
  font-size: 14px;
  color: black;
  text-align: left;
  display: inline-block;
  margin-right: 5px;
}

.message__body-text a {
  color: #004dcc;
}
.message__body-text a:hover {
  color: #004dcc;
  text-decoration: underline;
}

.message__body-text-date {
  color: #bbcde8;
  font-size: 10px;
}
.message__body-thumbs-icon {
  margin-left: 8px;
}
.message__body-thumbs-icon i {
  margin: 0 2px;
}
.message-nested {
  border-left: 25px solid #ffffff;
  transition: display 2s;
}
.message__last-read {
  position: absolute;
  text-transform: uppercase;
  background-color: #eb4435;
  color: white;
  font-size: 8px;
  border-radius: 4px;
  padding: 5px;
  right: 10px;
  top: -10px;
  z-index: 1;
}
.message__unread_mark {
  position: relative;
}
.message__options {
  display: inline-block;
  background-color: #444444;
  border-radius: 6px;
  padding: 6px 0 6px;
}
.message__options a {
  color: #fff;
}
.message__options a:hover {
  color: #fbbc12;
}
.hide {
  display: none;
}
.team-room__file-upload-input {
  width: 0.1px;
  height: 0.1px;
  opacity: 0;
  overflow: hidden;
  position: absolute;
  z-index: -1;
}
.counter {
  padding: 0.2em 0.5em;
}

.Delete_Confirm_Pop .ant-popover .ant-popover-inner-content {
  background: #fff;
  padding: 20px;
  color: #fff;
  font-size: 9pt;
  font-weight: 400;
}

.message__meta_url {
  text-align: left;
  margin: 10px;
  border-left: 1px solid #bbb;
  background: #fff;
  padding: 10px;
}

.message__meta_url a {
  color: #368cdc;
  font-weight: 700;
  display: block;
  font-size: 13px;
}

.message__meta_url a:hover,
.message__meta_url a:focus {
  color: #5b7eba;
}

.message__meta_url p {
  margin-bottom: 10px;
}

.message__meta_url img {
  width: 60px;
  height: auto;
}

.message__delete_buttons {
  color: #ffffff !important;
}

.User__Details-Data {
  padding: 10px;
  font-size: 13px;
  line-height: 15px;
}

.User_MainInfo {
  position: relative;
}

.User_MainInfo .User_action-buttons {
  position: absolute;
  right: 0;
  bottom: 0;
}

.User_MainInfo .User_action-buttons span {
  margin: 0 4px;
  font-size: 18px;
  cursor: pointer;
}

.User_MainInfo > div {
  vertical-align: middle;
  display: inline-block;
}

.User__Details-Data .User_Header {
  margin-right: 60px;
}

.User__Details-Data .User_Header span {
  display: block;
  padding: 0 0 0 10px;
}

.User_Header .User_Name {
  text-transform: uppercase;
  font-size: 15px;
  line-height: 17px;
  font-weight: bold;
}

.User_Header .User_Name {
  text-transform: uppercase;
  font-size: 15px;
  line-height: 17px;
  font-weight: bold;
}

.User_Header .User_Status {
  font-style: italic;
}

.User_ExtraInfo > span {
  display: block;
}
.User_ExtraInfo a,
.User_ExtraInfo a:hover,
.User_ExtraInfo a:visited {
  color: #004dcc;
}
.Forwared__message_style {
  font-style: italic;
  margin-right: 5px;
  font-size: 12px;
}
.Message__text_wrapper {
  border-left: 3px solid #bbb;
  margin: 10px 0 0;
  padding: 10px;
  background: #fff;
  border-radius: 0 8px 8px 0;
}
