.Simple-card--no-padding a {
	display: block;
}
.card-label {
    width: 55px;
    overflow: hidden;
    height: 1.2em;
    text-overflow: ellipsis;
    white-space: nowrap;		
}
.integration-list .integration-card .ant-avatar {
	background: #fff!important;
	border: 1px solid #eee;
}