.ResultsList table {
  font-family: 'Lato', sans-serif;
}

.ResultsList thead > tr > th {
  background: #3E6BA7;
  color: white;
  padding: 6px 16px;
  text-transform: uppercase;
  font-size: 11px;
}

.ResultsList__row > td {
  padding: 0;
  color: white;
  font-size: 16px;
  font-weight: 300;
}
.ResultsList__row > td:not(:first-child) {
  opacity: 0.7;
}

.ResultsList__row:hover > td {
  background: none !important;
  opacity: 1;
}

.ResultsList thead > tr > th,
.ResultsList__row > td {
  border-bottom: 1px solid rgba(221, 221, 221, 0.4) !important;
  border-right: 1px solid rgba(221, 221, 221, 0.4) !important;
}
.ResultsList__row:last-child > td {
  border-bottom: none !important;
}
.ResultsList__row > td:last-child {
  border-right: none !important;
}
