.ResultsList {
  overflow-y: auto;
}

.ResultsList table {
  font-family: 'Lato', sans-serif;
}

.ResultsList thead > tr > th {
  background: #4d6ea8;
  color: white;
  padding: 10px 16px;
  text-transform: uppercase;
  font-size: 11px;
  line-height: 11px;
  border: 0;
}

.ResultsList__row > td {
  padding: 0;
  color: white;
  font-size: 12px;
  font-weight: 300;
}

.ResultsList__row:hover > td {
  background: none !important;
  opacity: 1;
}

.ResultsList thead > tr > th,
.ResultsList__row > td {
  border-bottom: 1px solid #6288c6 !important;
  border-right: 0 !important;
}
.ResultsList__row:last-child > td {
  border-bottom: none !important;
}
.ResultsList__row > td:last-child {
  border-right: none !important;
}

.ResultsList .ant-pagination.hidden {
  display: none;
}

.ResultsList thead > tr > th .ant-table-column-sorter {
  position: relative;
  margin-left: 8px;
  display: inline-block;
  width: 14px;
  height: 14px;
  vertical-align: middle;
  text-align: center;
  font-weight: normal;
  color: rgba(0, 0, 0, 0.45);
}

.ResultsList .ant-table-thead > tr > th.ant-table-column-has-actions:hover {
  background: #6288c6;
}
