.header-search-container .ant-input-affix-wrapper {
  width: 20%;
}
.header-search-container .ant-input-affix-wrapper .ant-input {
  height: 25px;
  background: #fff;
  border: none;
  border-radius: 15px;
}
.header-search-container .ant-input-affix-wrapper .ant-input-prefix i {
  color: #a6a6a6 !important;
  font-weight: bold;
}
.header-search-container .ant-input-affix-wrapper .ant-input-prefix {
  left: 5px;
}
.header-search-container .ant-input-affix-wrapper .ant-input:not(:first-child) {
  padding-left: 22px;
}
.header-search-container svg {
  color: #ccc;
}

.table-container .ant-table-thead > tr > th {
  background: #fff;
  -webkit-transition: background 0.3s ease;
  transition: background 0.3s ease;
  text-align: left;
  color: #a6a6a6;
  font-size: 12px;
  border-bottom: 1px solid #e8e8e8;
  padding: 12px 10px !important;
  text-transform: uppercase;
}

.table-team-container {
  display: flex;
  align-items: center;
}

.table-team-container .habla-table-label {
  color: #999;
  text-decoration: none;
  font-size: 18px;
  padding-left: 7px;
  display: block;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}
