.SearchPage {
  background-color: transparent !important; /* override MainContent style */
}

.SearchPage__header {
  display: flex;
  padding: 12px 12px 18px;
  font-size: 22px;
}

.SearchPage__icon {
  color: white;
}

.SearchPage__title {
  font-weight: 300;
  margin-left: 5px;
  color: black;
}

.SearchPage__query {
  font-weight: bold;
  margin-left: 5px;
}

.SearchPage__results {
  background-color: #557dbf;
  flex-grow: 1;
  border-radius: 4px;
}
.SearchPage__results.loading {
  display: flex;
  align-items: center;
  background-color: white;
}

.SearchPage__results__fileName {
  padding-left: 40px;
}
.SearchPage__results__fileIcon {
  position: absolute;
  margin-top: -4px;
}
.ResultsList thead > tr > th {
  font-size: 7pt;
  text-transform: uppercase;
  color: #fff;
}
.ResultsList thead > tr > th {
	padding: 6px 10px;
}
.ant-table-row-level-0 {
	border-bottom: 1px solid #fff;
}
.ant-table-thead > tr > th, .ant-table-tbody > tr > td {
	padding: 10px;
}
.ant-table-tbody > tr > td {
	font-size: 14px;
}
.SearchPage__results tbody tr:hover {
	background: #476dad;
	cursor: pointer;
}