.SearchPage {
  background-color: transparent !important; /* override MainContent style */
}

.SearchPage__header {
  display: flex;
  flex-shrink: 0;
  padding: 12px 12px 18px;
  font-size: 22px;
}

.SearchPage__icon {
  color: white;
}

.SearchPage__title {
  font-weight: 300;
  margin-left: 5px;
  color: black;
}

.SearchPage__query {
  font-weight: bold;
  margin: 0 5px;
}

.SearchPage__results {
  background-color: #557dbf;
  display: flex;
  flex-grow: 1;
  border-radius: 4px;
}
.SearchPage__results.loading {
  display: flex;
  align-items: center;
  background-color: white;
}

.SearchPage__results-highlighted {
  border-bottom: dotted 1px #fbbc12; /* yellow-habla */
  padding-bottom: 1px;
  color: white;
  background-color: transparent;
}

.SearchPage__results__link,
.SearchPage__results__link:hover {
  color: #fff;
  text-decoration: none;
}
.SearchPage__results__fileName {
  padding-left: 40px;
}
.SearchPage__results__fileIcon {
  position: absolute;
  margin-top: -4px;
}
.SearchPage__results__fileOwnerName {
  padding-left: 10px;
}
.SearchPage__results__integrationIcon {
  position: absolute;
  background-color: white;
  display: inline-block;
  border-radius: 14%;
  line-height: 20px;
  width: 26px;
  height: 26px;
}
.SearchPage__results__integrationLabel {
  padding-left: 35px;
}

.ResultsList thead > tr > th {
  font-size: 7pt;
  text-transform: uppercase;
  color: #fff;
}
.ResultsList thead > tr > th {
  padding: 6px 10px;
}
.ant-table-row-level-0 {
  border-bottom: 1px solid #889fc6;
}
.ant-table-thead > tr > th,
.ant-table-tbody > tr > td {
  padding: 10px;
}
.ant-table-tbody > tr > td {
  font-size: 14px;
}
.SearchPage__results tbody tr:hover {
  background: #476dad;
  cursor: pointer;
}

/* column sorting */
.ResultsList .ant-table-column-sort {
  background-color: #557dbf !important;
}
.ResultsList .ant-table-column-sorter .on i {
  color: #fff;
}

.SearchPage__results-inner {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  justify-content: space-between;
}

.SearchPage__bottomBar {
  background: #eef2f8;
}
