.Simple-card--round {
  width: 11vw;
  height: 11vw;
  min-height: 100px;
  min-width: 100px;
  display: flex;
  justify-content: center;
}
.Simple-card--round {
  border-radius: 50%;
}
.simple-card__icons {
  font-size: 45px !important;
  margin-bottom: 10px;
}
