.homePage-main {
  display: table;
  height: 100%;
  margin: 0;
  padding: 0;
  width: 100%;
}
.homepage_graph-container {
  width: 100%;
  height: 60%;
  border-bottom: 1px solid #e0e9f7;
}
.homepage_graph-container > div {
  display: flex;
  flex-direction: column;
}
.homepage_latest-container {
   width: 100%;
   height: 40%;
}
.homepage_latest-header {
	padding: 20px 10px 10px 10px;
}
.homePage__activity-item {
  padding: 5px 10px 20px 10px;
  display: flex;
}
.homePage__activity-avatar {
   display: inline-block;
   border-radius: 14%;
   width: 30px;
   height: 30px;
}
.homePage__activity-content-container {
   margin: 0 0 0 20px;
   line-height: 1.2em;
}
.homePage__activity-content-header {
   color: #ccc;
   font-size: 8pt;
}
.homePage__activity-content-message {
  color: black;
  font-size: 13px;
  width: 100%;
  height: 50%;;
}
.homePage__activity-container {
  display: flex;
  border-bottom: #eee 1px solid;
}
.homepage_latest-header {
	padding: 10px;
}
.homePage__activity-item {
  padding: 5px 10px 20px 10px;
  display: flex;
}
.homePage__activity-avatar {
  display: inline-block;
  object-fit: scale-down;
  border-radius: 14px;
  border-radius: 14%;
  width: 30px;
  height: 30px;
}
.homePage__activity-content-container {
  margin: 15px;
  margin-top: 8px;
  margin: 0 0 0 15px;
  line-height: 1.2em;
}
.homePage__activity-content-header {
  font-size: 14px;
  color: #ccc;
  font-size: 8pt;
}
.homePage__activity-content-message {
  color: black;
  font-size: 13px;
}
.homePage__activity-content-date {
  color: #ccc;
}
