.homePage-main {
  display: table;
  height: 100%;
  margin: 0;
  padding: 0;
  width: 100%;
}
.homepage_graph-container {
  width: 100%;
  height: 50%;
  overflow: hidden;
  border-bottom: #ccc 1px solid;
}
.homepage_graph-container > div {
  display: flex;
  flex-direction: column;
}
.homepage_latest-container {
   width: 100%;
   height: 50%;
}
.homepage_latest-header {
	padding: 10px;
	border-top: 1px solid #eee;
}
.homePage__activity-item {
  padding: 5px 10px 20px 10px;
  border-bottom: #eee 1px solid;
  display: flex;
}
.homePage__activity-avatar {
   display: inline-block;
   border-radius: 14%;
   width: 30px;
   height: 30px;
}
.homePage__activity-content-container {
   margin: 0 0 0 20px;
   line-height: 1.2em;
}
.homePage__activity-content-header {
    color: #ccc;
    font-size: 8pt;
}
.homePage__activity-content-message {
   color: black;
   font-size: 13px;
  width: 100%;
  height: 50%;
  padding: 20px;
}
.homePage__activity-container {
  display: flex;
  border-bottom: #ccc 1px solid;
}
.homePage__activity-avatar {
  display: inline-block;
  object-fit: scale-down;
  overflow: hidden;
  border-radius: 14px;
  width: 60px;
  height: 60px;
}
.homePage__activity-content-container {
  margin: 15px;
  margin-top: 8px;
}
.homePage__activity-content-header {
  color: '#ccc';
  margin-bottom: 10px;
  font-size: 14px;
}
.homePage__activity-content-message {
  color: black;
  font-size: 16px;
}
.homePage__activity-content-date {
  color: #ccc;
}
