.nodes-boxed {
  margin-left: 10px;
  background-color: #eee;
}

.node {
  display: flex;
  justify-content: space-around;
  flex-direction: row;
  flex-wrap: nowrap;
  align-items: center;
}

.node-icon {
  margin: 5px;
}

.node-icon-file {
  position: absolute;
  margin-top: -4px;
}

.node-icon-color {
  color: #ccc;
}

.node-info {

}

.node-name {
  font-weight: bold;
}

.node-child-count {
}

.node-filler {
  flex-grow: 1;
}

.node-sharing-details {
  color: #ccc;
  font-size: .75em;
  margin-right: 20px;
}

.node-share {

}
