.habla-avatar {
  border-radius: 4px;
}
.habla-avatar--size-x-large, .habla-avatar--size-x-large img {
  width: 100px;
  height: 100px;
}
.habla-avatar--size-x-large > * {
  line-height: 100px;
}
.habla-avatar--size-large, .habla-avatar--size-large img {
  width: 60px;
  height: 60px;
}
.habla-avatar--size-large > * {
  line-height: 60px;
}
.habla-avatar--size-default, .habla-avatar--size-default img {
  width: 30px;
  height: 30px;
  line-height: 30px;
}
.habla-avatar--size-default > * {
  line-height: 30px;
}
.habla-avatar--size-small, .habla-avatar--size-small img {
  width: 25px;
  height: 25px;
  line-height: 25px;
}
.habla-avatar--size-small > * {
  line-height: 25px;
}

/* Letters in avatars */
.habla-avatar--size-x-large .ant-avatar-string {
  font-size: 40px;
  font-weight: 700;
}
.habla-avatar--size-large .ant-avatar-string {
  font-size: 16pt;
  font-weight: 700;
}
.habla-avatar--size-default .ant-avatar-string {
  font-size: 10pt;
  font-weight: 700;
}
.habla-avatar--size-small .ant-avatar-string {
  font-size: 8pt;
  font-weight: 700;
}
