/* HABLA AI GENERAL FORMATING ELEMENTS ---------- */

.body {
  margin: 0;
  padding: 0;
  font-family: 'Lato', sans-serif;
  background: #ccc;
  color: #000;
}
#app {
  height: 100%;
  font-family: 'Lato', sans-serif;
  background: #ccc;
}
#app > div {
  height: 100%;
  display: flex;
}
.desaturate {
  filter: grayscale(100%);
}
.clear {
  clear: both;
}
.no-margin {
  margin: 0;
}
.no-border {
  border: none;
}
.border-bottom-light {
  border-bottom: 1px solid #ccc;
}
.border-bottom-lighter {
  border-bottom: 1px solid #eee;
}
.border-bottom-red {
  border-bottom: 1.5px solid #eb4435;
}
.border-top-light {
  border-top: 1px solid #ccc;
}
.border-top-lighter {
  border-top: 1px solid #eee;
}
.no-float {
  float: none;
}
.display-block {
  display: block;
}
a {
  text-decoration: none;
  color: #32a953;
}
a:hover {
  color: #32a953;
}
.habla-item-active {
  background: #f7f7f7;
}
.habla-spinner-content {
  text-align: center;
  padding: 15px 0;
}
.habla-spinner-content .fa-pulse {
  animation: fa-spin 0.7s infinite steps(8);
}
.align-center-class {
  text-align: center;
}
.float-center-class {
  margin: 0 auto;
}
.float-left-class {
  float: left;
}
.align-right-class {
  text-align: right;
}
.align-left-class {
  text-align: left;
}
.padding-class-a {
  padding: 10px;
}
.padding-class-b {
  padding: 20px;
}
.margin-top-class-a {
  margin-top: 25px;
}
.margin-top-class-b {
  margin-top: 7px;
}
.margin-left-class-a {
  margin-left: 7px;
}
.margin-right-class-a {
  margin-right: 7px;
}
.margin-bottom-class-a {
  margin-bottom: 4px;
}
.habla-full-content {
  width: 50%;
}
.habla-logo-image-responsive {
  display: none;
}
p {
  font-size: 10pt;
  line-height: 1.4em;
}
.flex-class {
  display: flex;
}
.inactive {
  background-color: #c1c1c1;
}


/* COLORS ---------- */

.habla-color-white {
  background: #fff;
}
.habla-color-black {
  background: #000;
}
.habla-black {
  color: #000;
}
.habla-color-yellow {
  background: #fbbc12;
}
.habla-yellow {
  color: #fbbc12;
}
.habla-color-green {
  background: #32a953;
}
.habla-green {
  color: #32a953;
}
.habla-color-blue {
  background: #557dbf;
}
.habla-blue {
  color: #557dbf;
}
.habla-color-red {
  background: #eb4435;
}
.habla-red {
  color: #eb4435;
}
.habla-color-grey {
  background: #666;
}
.habla-grey {
  color: #666;
}
.habla-color-lightgrey {
  background: #ddd;
}
.habla-lightgrey {
  color: #ddd;
}
.habla-color-lightergrey {
  background: #f7f7f7;
}
.habla-lightergrey {
  color: #f7f7f7;
}


/* FONT SIZES AND STYLES ---------- */

.habla-big-title {
  font-size: 20pt;
  line-height: 24pt;
  color: #666;
  font-weight: 300;
}
.habla-title {
  font-size: 14pt;
  line-height: 18pt;
  color: #000;
  font-weight: 900;
}
.habla-title-light {
  font-size: 14pt;
  line-height: 18pt;
  color: #000;
  font-weight: 300;
}
.habla-paragraph {
  font-size: 10pt;
  line-height: 14pt;
  color: #000;
  line-height: 1.3em;
}
.habla-secondary-paragraph {
  font-size: 10pt;
  line-height: 14pt;
  color: #999;
}
.habla-label {
  font-size: 7pt;
  text-transform: uppercase;
  color: #999999;
}
.habla-label a {
  color: #999999;
}
.habla-bold-text {
  font-weight: 700;
}
.habla-main-content-item-signal {
  width: 10px;
  height: 10px;
  border-radius: 50%;
  position: absolute;
  right: -15px;
  top: 0px;
}

/* Others */
.EditButton__button {
	color: #999;
}


/* General CSS Styles for Habla Web App Modal Windows */

.ant-modal-footer {
  border: none;
}
.ant-modal-title {
  font-weight: bold;
}
.ant-layout-has-sider {
  position: relative;
}


/* General CSS Styles for Habla Web App Dopdown Menus */
.ant-dropdown-menu {
  background-color: #444!important;
  padding-bottom: 10px;	
}
.ant-dropdown-menu .habla-label {
  font-weight: 900;
  color: #fff;
}
.ant-dropdown-menu-item {
  background-color: #444!important;
  color: #ddd!important;
}
.ant-dropdown-menu-item a {
  color: #7c7c7c!important;
}
.ant-dropdown-menu-item-selected, .ant-dropdown-menu-submenu-title-selected, .ant-dropdown-menu-item-selected > a, .ant-dropdown-menu-submenu-title-selected > a {
  background: #333;
  color: #fff;
}
.ant-dropdown-menu-item a:hover {
  background: #333;
  color: #fff!important;
}
.ant-dropdown-menu-item > a, .ant-dropdown-menu-submenu-title > a {
  padding: 0 10px;
  margin: 0;
}
.ant-dropdown-menu-item, .ant-dropdown-menu-submenu-title {
	padding: 0;
}
.ant-dropdown-menu-item i,
.ant-dropdown-menu-item svg,
.ant-dropdown-menu-item .habla-top-navigation-dropdown-signal {
	margin-right: 5px;
}


/* Habla Content Header  */

.habla-main-content-header i {
  margin: 0 5px;
  color: #999;
  font-size: 1.4em;
}
.habla-main-content-header i.fa-angle-right {
  font-size: 0.8em;
  margin: 0 8px;
  position: relative;
  bottom: 3px;
}
.habla-main-content-header,
.habla-main-content-header-title,
.habla-main-content-filters-links {
  display: flex;
  align-items: center;
}
.habla-main-content-header-title {
  flex: 1;
}
.habla-main-content-header-title svg
, .CKGPage__title svg {
  margin-right: 5px;
  font-size: 18px;
  color: #ccc;
}
.habla-main-content-filters-links div {
  background: #fff;
  padding: 7px;
  border-radius: 3px;
  font-size: 10px;
  text-transform: uppercase;
  color: #999;
}
.habla-main-content-filters-links div:hover {
  background: #ccc;
  color: #fff;
  cursor: pointer;
}
.habla-main-content-header-actions i {
  font-size: 2em;
  vertical-align: middle;
  margin-left: 5px;
}
.breadcrumb-icon {
	font-size: 13px!important;
}

/* Overlays */

.habla-top-navigation-avatar-signal {
   border-radius: 50%;
   border: 1px solid #4d4d4d;
   position: absolute;
   z-index: 2;
   overflow: visible;
}
.habla-avatar-signal-default {
   width: 11px;
   height: 11px;
   right: -4px;
   top: -4px;
}
.habla-avatar-signal-small {
   width: 9px;
   height: 9px;
   right: -5px;
   top: -5px; 
}
.habla-avatar-signal-large {
   width: 15px;
   height: 15px;
   right: -6px;
   top: -4px; 
}
.habla-avatar-signal-x-large {
   width: 18px;
   height: 18px;
   right: -6px;
   top: -6px; 
}

.habla-top-menu-subitem {
   position: relative;
   display: inline-block;
}


/* RESPONSIVE ELEMENTS AND STYLES ---------- */

@media only screen and (max-width: 800px) {
.header .ant-menu span {
  display: none;
}
.header .ant-menu-item {
  padding: 0 10px;
}
.header .ant-menu li i {
  margin: 0;
}
.user-avatar {
  height: 67px;
}
}

@media only screen and (max-width:680px) {
.habla-top-menu-label
, .habla-main-content-header-actions .habla-label
, .habla-main-content-header-breadcrumb-links-responsive
, .habla-main-content-header-breadcrumb-links .habla-title-light
, .habla-main-content-header-breadcrumb-links i
, .habla-ckg-filters-item span
, .habla-header-search-input {
  display: none;
}
.habla-main-content-header-breadcrumb {
  width: 80%;
}
.habla-main-content-header-actions {
  width: 20%;
}
.habla-main-content-collapsable-content-section {
  padding: 10px 15px 20px 15px;
}
.habla-main-content-collapsable-content-item {
  display: block;
  width: 100%;
}
.habla-main-content-collapsable-content-item {
  border-top: 1px solid #f7f7f7;
  padding-top: 5px;
}
.habla-main-content-collapsable-content-item .habla-big-avatar
, .habla-main-content-collapsable-content-item .habla-big-avatar img {
  width: 30px;
  height: 30px;
}
.habla-main-content-collapsable-content-item .habla-big-avatar .habla-avatar-letters {
  font-size: 10pt;
  padding-top: 9px;
}
.habla-main-content-collapsable-content-item .habla-label {
  display: inline-block;
  margin-left: 5px;
  font-size: 10pt;
}
.habla-alert-content-buttons .habla-button-alert {
  margin-bottom: 5px;
}
.habla-main-content-filters-links {
  display: none;
}
.habla-main-content-filters-members {
  float: none;
  width: 100%;
}
.habla-main-content-collapsable-content-section .habla-main-content-item-signal {
  position: absolute;
  right: 2px;
  top: 17px;
}
.habla-modal-window {
  width: 80%;
}
.habla-profile-settings-form .habla-form-item {
  float: none;
  width: 100%;
}
.habla-top-menu-items a i {
  margin-right: 0;
}
.habla-full-content {
  width: 100%;
}
}
.habla-MemberListing__title {
   font-weight: 600;
}
.habla-MemberListing__member-row {
   display: flex;
   margin: 0px;
   margin-right: 8px;
   padding: 6px;
   justify-items: center;
   align-items: center;
   cursor: pointer;
}
.habla-MemberListing__member-image {
   justify-content: center;
}
.habla-MemberListing__member-text {
   margin-left: 8px;
   margin-right: 8px;
   width: 100%;
}
.habla-MemberListing__inviteButton-text {
  font-size: 12px;
  font-weight: 800;
  margin-right: 6px;
  min-width: 200px;
  text-align: right;
}

@media only screen and (max-width:420px) {
.habla-logo-image
, .habla-ckg-date-picker-content-text {
  display: none;
}
.habla-logo-image-responsive {
  display: block;
}
.habla-main-content-header-breadcrumb .habla-title {
  font-size: 11pt;
}
.habla-big-title {
  font-size: 16pt;
}
.habla-main-content-filters-members-responsive {
  display: none;
}
.team-room__messages .ant-col-md-18 {
  width: 80%;
}

}


/* Standard Margin and Padding Classes */

.pl-0 {
  padding-left: 0;
}
.pl-1 {
  padding-left: 8px;
}
.pl-2 {
  padding-left: 16px;
}
.pl-3 {
  padding-left: 24px;
}
.pl-4 {
  padding-left: 32px;
}
.pl-5 {
  padding-left: 40px;
}
.pr-0 {
  padding-left: 0;
}
.pr-1 {
  padding-right: 8px;
}
.pr-2 {
  padding-right: 16px;
}
.pr-3 {
  padding-right: 24px;
}
.pr-4 {
  padding-right: 32px;
}
.pr-5 {
  padding-right: 40px;
}
.pb-0 {
  padding-bottom: 0;
}
.pb-1 {
  padding-bottom: 8px;
}
.pb-2 {
  padding-bottom: 16px;
}
.pb-3 {
  padding-bottom: 24px;
}
.pb-4 {
  padding-bottom: 32px;
}
.pb-5 {
  padding-bottom: 40px;
}
.pt-0 {
  padding-top: 0;
}
.pt-1 {
  padding-top: 8px;
}
.pt-2 {
  padding-top: 16px;
}
.pt-3 {
  padding-top: 24px;
}
.pt-4 {
  padding-top: 32px;
}
.pt-5 {
  padding-top: 40px;
}
.py-0 {
  padding-top: 0;
  padding-bottom: 0;
}
.py-1 {
  padding-top: 8px;
  padding-bottom: 8px;
}
.py-2 {
  padding-top: 16px;
  padding-bottom: 16px;
}
.py-3 {
  padding-top: 24px;
  padding-bottom: 24px;
}
.py-4 {
  padding-top: 32px;
  padding-bottom: 32px;
}
.py-5 {
  padding-top: 40px;
  padding-bottom: 40px;
}
.px-0 {
  padding-left: 0;
  padding-right: 0;
}
.px-1 {
  padding-left: 4px;
  padding-right: 4px;
}
.px-2 {
  padding-left: 16px;
  padding-right: 16px;
}
.px-3 {
  padding-left: 24px;
  padding-right: 24px;
}
.px-4 {
  padding-left: 32px;
  padding-right: 32px;
}
.px-5 {
  padding-left: 40px;
  padding-right: 40px;
}
.p-0 {
  padding: 0;
}
.p-1 {
  padding: 8px;
}
.p-2 {
  padding: 16px;
}
.p-3 {
  padding: 24px;
}
.p-4 {
  padding: 32px;
}
.p-5 {
  padding: 40px;
}
.ml-0 {
  margin-left: 0;
}
.ml-05 {
   margin-left: 4px;
}
 .ml-1 {
  margin-left: 8px;
}
.ml-2 {
  margin-left: 16px;
}
.ml-3 {
  margin-left: 24px;
}
.ml-4 {
  margin-left: 32px;
}
.ml-5 {
  margin-left: 40px;
}
.mr-0 {
  margin-right: 0;
}
.mr-05 {
  margin-right: 4px;
}
.mr-1 {
  margin-right: 8px;
}
.mr-2 {
  margin-right: 16px;
}
.mr-3 {
  margin-right: 24px;
}
.mr-4 {
  margin-right: 32px;
}
.mr-5 {
  margin-right: 40px;
}
.mt-0 {
  margin-top: 0;
}
.mt-1 {
  margin-top: 8px;
}
.mt-2 {
  margin-top: 16px;
}
.mt-3 {
  margin-top: 24px;
}
.mt-4 {
  margin-top: 32px;
}
.mt-5 {
  margin-top: 40px;
}
.mb-0 {
  margin-bottom: 0;
}
.mb-05 {
  margin-bottom: 4px;
}
.mb-1 {
  margin-bottom: 8px;
}
.mb-2 {
  margin-bottom: 16px;
}
.mb-3 {
  margin-bottom: 24px;
}
.mb-4 {
  margin-bottom: 32px;
}
.mb-5 {
  margin-bottom: 40px;
}
.mx-0 {
  margin-left: 0;
  margin-right: 0;
}
.mx-1 {
  margin-left: 8px;
  margin-right: 8px;
}
.mx-2 {
  margin-left: 16px;
  margin-right: 16px;
}
.mx-3 {
  margin-left: 24px;
  margin-right: 24px;
}
.mx-4 {
  margin-left: 32px;
  margin-right: 32px;
}
.mx-5 {
  margin-left: 40px;
  margin-right: 40px;
}
.my-0 {
  margin-top: 0;
  margin-bottom: 0;
}
.my-1 {
  margin-top: 8px;
  margin-bottom: 8px;
}
.my-2 {
  margin-top: 16px;
  margin-bottom: 16px;
}
.my-3 {
  margin-top: 24px;
  margin-bottom: 24px;
}
.my-4 {
  margin-top: 32px;
  margin-bottom: 32px;
}
.my-5 {
  margin-top: 40px;
  margin-bottom: 40px;
}
.m-0 {
  margin: 0;
}
.m-1 {
  margin: 8px;
}
.m-2 {
  margin: 16px;
}
.m-3 {
  margin: 24px;
}
.m-4 {
  margin: 32px;
}
.m-5 {
  margin: 40px;
}
.opacity-low {
  opacity: 0.3;
}


/* ---------------------------- ANT ELEMENTS To review -------------------------------- */

.has-success.has-feedback:after {
  color: #32a953!important;
}
.ant-layout-header {
  padding: 0;
  line-height: inherit;
}
.ant-form-item {
  margin-bottom: 10px!important;
}
.ant-checkbox {
  display: inherit;
}
.register-body .ant-checkbox-wrapper {
  margin: 0 10px 20px 0;
  float: left;
}
 .register-success-email {
  color: #000;
}
.ant-form,
.ant-form-item,
.ant-input,
.ant-checkbox-wrapper {
  font-family: inherit;
}
.ant-input {
	height: 38px;
}
.ant-layout {
  background: none!important;
}
.ant-menu-inline, .ant-menu-vertical, .ant-menu-vertical-left {
  border: none!important;
}
.ant-menu-submenu-title {
  padding: 0!important;
  margin: 0!important;
}
.ant-menu-vertical > .ant-menu-item, .ant-menu-vertical-left > .ant-menu-item, .ant-menu-vertical-right > .ant-menu-item, .ant-menu-inline > .ant-menu-item, .ant-menu-vertical > .ant-menu-submenu > .ant-menu-submenu-title, .ant-menu-vertical-left > .ant-menu-submenu > .ant-menu-submenu-title, .ant-menu-vertical-right > .ant-menu-submenu > .ant-menu-submenu-title, .ant-menu-inline > .ant-menu-submenu > .ant-menu-submenu-title {
  line-height: 0!important;
  height: auto!important;
  padding: 0!important;
  margin: 0!important;
}
.ant-menu-vertical .ant-menu-item:after, .ant-menu-vertical-left .ant-menu-item:after, .ant-menu-vertical-right .ant-menu-item:after, .ant-menu-inline .ant-menu-item:after {
  border: none!important;
}
.ant-menu-inline .ant-menu-item, .ant-menu-inline .ant-menu-submenu-title {
  width: 100%!important;
}
.ant-menu {
  font-family: 'Lato', sans-serif;
  background: transparent;
}
.ant-menu-submenu > .ant-menu {
  background: transparent;	
}
.Sidebar ul.ant-menu li.ant-menu-submenu {
	background: #fff;
	border-radius: 4px;
	margin-bottom: 2px;
}
ul.ant-menu li.ant-menu-submenu:hover {
	background: #f7f7f7;
}
.ant-menu:not(.ant-menu-horizontal) .ant-menu-item-selected {
  background: #eee;
}
.ant-menu-sub li:last-child {
  border-radius: 0 0 4px 4px;
}
.ant-collapse {
  border: none;
}
.ant-collapse > .ant-collapse-item > .ant-collapse-header {
  padding: 0 0 0 40px;
}
.ant-collapse-borderless > .ant-collapse-item {
  border-bottom: 1px solid #eee!important;
}
.team-room__chat-input .ant-form-item {
  margin: 0!important;
}
.ant-collapse > .ant-collapse-item > .ant-collapse-header .arrow {
  font-size: 10px;
  color: #666;
}
.ant-collapse > .ant-collapse-item > .ant-collapse-header .arrow {
  left: 21px!important;
  top: 21px!important;
  line-height: 0!important;
}
.ant-card {
  background: #ccc;
  color: #fff!important;
  width: 55px;
  height: 55px;
  border: none!important;
}
.ant-switch-checked {
  background-color: #32A953;
}
.ant-collapse-content {
  border: none;
}
.ant-collapse > .ant-collapse-item:last-child, .ant-collapse > .ant-collapse-item:last-child > .ant-collapse-header {
  border-radius: none!important;
}
.ant-card-head {
  background: none;
  padding: 0;
  border: 0;
  min-height: auto;
}
.ant-card-extra {
  padding: 0;
}
.ant-collapse-content {
  padding: 0 50px;
}
.ant-dropdown-menu {
  top: 7px;
  right: -15px;
}
.ant-avatar-string {
  left: 30px;
}
