/* General CSS Styles for Habla Web App */
.clear {
	clear: both;
}
a {
  color: #222222;
}
a:hover {
  color: #888888;
}
.breadcrumb_underline {
  text-decoration: underline;
}
.icon_success {
  color: #00a854;
}
.icon_fail {
  color: #f04134;
}
body {
	font-family: 'Lato', sans-serif;
	background: #ececec;
}
/* General CSS Styles for Habla Web App Modal Windows */
.ant-modal-footer {
	border: none;
}
.ant-modal-title {
	font-weight: bold;
}

/* General CSS Styles for Habla Web App Dopdown Menus */
.ant-dropdown-menu-item {
	background-color: #000!important;
	color: #ddd!important;
}
.ant-dropdown-menu-item a {
	color: #fff!important;
}
.ant-dropdown-menu-item-selected, .ant-dropdown-menu-submenu-title-selected, .ant-dropdown-menu-item-selected > a, .ant-dropdown-menu-submenu-title-selected > a {
	background: #333;
}
.ant-dropdown-menu-item a:hover {
	background: #333;
}
.ant-dropdown-menu-item > a, .ant-dropdown-menu-submenu-title > a {
	padding: 10px 20px;
}

/* General CSS Styles for Habla Web App Responsive Items */
@media only screen and (max-width: 800px) {
    .header .ant-menu span {
        display: none;
    }
    .header .ant-menu-item {
        padding: 0 10px;
    }
    .header .ant-menu li i {
	    margin: 0;
    }
    .user-avatar {
	    height: 67px;
    }
}
