.VictoryContainer img {
	cursor: pointer;
}
.CKGPage__title {
  flex: 1;
}
.display-row {
  display: flex;
}
.bottomBar {
  height: 50px;
}
.fileTypeContainer {
  display: inline-flex;
  vertical-align: -webkit-baseline-middle;
}
.fileTypeButton {
  border-radius: 4px;
  overflow: hidden;
  display: -webkit-inline-box; 
  vertical-align: -webkit-baseline-middle;
  cursor: pointer;
}
.fileTypeButton img {
  width: 30px;
  height: 30px;
}
.fileTypeButtonGrayed {
  opacity: 0.3;
}
.fileTypeLabel {
  margin-top: 10px; /* TODO: Mario, please help!!!! */
  margin-left: 1px;
  font-size: 11px;
  vertical-align: -webkit-baseline-middle;
  display: none;
}


/* CKG UI TOOLS ---------- */
.ckg-tools-container {
  position: relative;
}
.habla-ckg-tools-bar {
  position: absolute;
  top: 10px;
  left: 10px;
  background: #000;
  color: #fff;
  border-radius: 7px;
  z-index: 2;
}
.habla-ckg-tools-bar a {
  padding: 8px;
  display: inline-block;
  color: #fff;
  border-right: 1px solid #666;
}
.habla-ckg-tools-bar a:hover {
  color: #fbbc12;
}
.habla-ckg-tools-bar a.no-border {
	border: none;
}
.habla-ckg-actions-selector {
  left: 145px;
}
.habla-ckg-date-picker {
  position: absolute;
  top: 10px;
  right: 10px;
  background: #fff;
  border-radius: 7px;
  color: #999;
  z-index: 2;
}
.habla-ckg-date-picker-content {
  padding: 9px;
  font-size: 13px;
}
.habla-ckg-date-picker-content-text {
  margin-right: 10px;
}
.habla-ckg-date-picker-content a {
  color: #999;
  text-decoration: none;
}
.habla-ckg-date-picker-content a:hover {
  color: #333;
  text-decoration: none;
}
.habla-ckg-tools .ckg-activity-label {
  font-size: 10px;
  font-weight: 300;
  text-transform: uppercase;
  padding-left: 10px;
  padding-right: 5px;
  position: relative;
  top: -2px;
}
.habla-ckg-activity-selector .fa-angle-down {
  font-size: 11px;
  font-weight: 300;
  margin-left: 5px;
}
.bottomBar .bottomBar-selectors {
	width: 30%;
	float: left;
	height: 50px;
}
.bottomBar .bottomBar-selectors .team-select-container
, .bottomBar .bottomBar-selectors .team-room-select-container {
	width: 50%;
	float: left;
}
.bottomBar .bottomBar-files-filter {
	width: 70%;
	float: right;
	overflow: hidden;
	height: 50px;
}
.bottomBar-files-filter-content {
	display: inline-flex;
	padding: 10px 10px 10px 0;
}
.bottomBar select {
	height: 30px;
	border: 1px solid #ddd;
	border-radius: 4px;
	background: #fff;
	width: 99%;
}
.filetype-label {
	position: relative;
	top: 11px;
	margin-right: 10px;
	display: table;
}
.filetype-label span {
	margin-right: 3px;
}
.filetype-label-number-badge {
  color: #fff;
  background: #a8a8a8;
  padding: 4px;
  border-radius: 3px;
  margin-left: 3px;
}
.team-select-container {
	padding-right: 5px;
}
.team-room-select-container {
	padding-left: 5px;
}