.SharingSettings {
  border-top: 1px solid #f7f7f7;
}
.SharingSettings .ant-collapse {
  background: #fff;
}
.SharingSettings .ant-collapse-content-box {
  padding-top: 0;
  padding-bottom: 5px;
}
.SharingSettings__title-container {
  display: flex;
  justify-content: space-between;
  padding: 5px 0 15px;
  font-weight: bold;
}
.SharingSettings .Tree_element-container {
  padding: 5px !important;
}
.SharingSettings .Tree__item {
  padding: 0;
}
.SharingSettings .Tree_element-container .ant-collapse {
  background: transparent;
}
.SharingSettings .Tree_element-container:nth-child(odd) {
  background: #f3f3f3 !important;
}
.SharingSettings .Tree__subtree .Tree_element-container:nth-child(odd) {
  background: #fff !important;
}
.SharingSettings .Tree__subtree .Tree_element-container:nth-child(even) {
  background: #f3f3f3 !important;
}
