.sharing-settings {
  border-top: 1px solid #f7f7f7;
}
.sharing-settings img {
	width: 25px;
	height: 25px;
}
.sharing-settings-boxed {
  border-left: 1px solid #eee;
  padding-left: 20px
}
.sharing-settings-boxed .sharing-settings {
  border-top: none;
}
.sharing-settings .ant-collapse {
	background: #fff;
}
.sharing-settings .ant-collapse-content-box {
	padding-top: 0;
	padding-bottom: 5px;
}
.node {
  display: flex;
  justify-content: space-around;
  flex-direction: row;
  flex-wrap: nowrap;
  align-items: center;
}
.integration-sharing-node {
	border-top: 1px solid #eee;
	padding: 8px 0;
}
.node-icon-color {
  color: #ccc;
}
.node-name {
  font-weight: bold;
  margin-left: 10px;
}
.node-child-count {
}
.node-filler {
  flex-grow: 1;
}
.TeamAndTeamRoomList {
	margin-top: 10px;
}
.integrationTitleLabelContainer {
	margin: 20px 0 5px 0;
	width: 100%;
}
.integration-settings-title-label {
	float: left;
}
.integration-settings-sellect-all-label {
	float: right;
}