.editOrgPage-main {
  flex: 1;
}
.Edit-team__icon-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}
.Edit-team__title {
  font-weight: bold;
}
.Edit-team__add-textfield {
  height: 50px !important;
  font-size: 20px !important;
}
.Edit-team__add-textfield:focus, .Edit-team__add-textfield:hover {
  border-color: #777777;
  box-shadow: none;
}
.Edit-team__container_photo {
  display: flex;
}
.container__title_textfield {
  flex: 2;
}
.container__image {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-left: 1.5em;
}
.container__image > .avatar-uploader {
  color: #fff;
  cursor: pointer;
  padding: 1.5em 0.5em;
  text-align: center;
}
.with-image > .avatar-uploader {
  width: 40px !important;
  height: 40px !important;
}
.with-no-image > .avatar-uploader {
  width: 60px !important;
  height: 60px !important;
}
.container__image__remove {
  color : #f75a69;
  cursor: pointer;
}

/* NEW STYLES */
.edit__container {
  width: 50%;
}
.subpage__header__title {
  font-weight: bold;
  font-size: 1.5em;
  color: rgba(0, 0, 0, 0.85);
}
.edit__form__input {
  height: 3em;
}
.edit__container__image_wrapper {
  display: flex;
  justify-content: space-between;
}
.edit__container__image__website {
  width: 100%;
}
.edit-org__buttons {
  padding: 10px;
  display: flex;
  justify-content: flex-end;
}
