.editOrgPage-main {
  flex: 1;
}
.Edit-team__icon-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}
.Edit-team__title {
  font-weight: bold;
}
.Edit-team__add-textfield {
  height: 50px !important;
  font-size: 20px !important;
}
.Edit-team__add-textfield:focus,
.Edit-team__add-textfield:hover {
  border-color: #777777;
  box-shadow: none;
}
.Edit-team__container_photo {
  display: flex;
}
.container__title_textfield {
  flex: 2;
}
.container__image {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-left: 1.5em;
  position: relative;
}
.container__image > .avatar-uploader {
  color: #fff;
  cursor: pointer;
  padding: 1.5em 0.5em;
  text-align: center;
}
.with-image > .avatar-uploader {
  width: 60px !important;
  height: 60px !important;
  border: 1px solid #ccc;
}
.with-no-image > .avatar-uploader {
  width: 60px !important;
  height: 60px !important;
}
.container__image__remove {
  color: #f75a69;
  cursor: pointer;
  font-size: 10px;
  position: absolute;
  top: 75px;
  z-index: 2;
}
.UploadImageField__avatar__org {
  width: 60px;
  height: 60px;
}
.container__image > .with-image {
  border: 1px solid #ccc;
}

/* NEW STYLES */
.avatar-uploader-trigger {
  color: #fff;
  font-size: 10px;
  padding-top: 6px;
}
.subpage__header__title {
  font-weight: bold;
  font-size: 1.5em;
  color: rgba(0, 0, 0, 0.85);
}
.edit__form__input {
  height: 3em;
}
.edit__container__image_wrapper {
  display: flex;
  justify-content: space-between;
}
.edit__container__image__website {
  width: 100%;
}
.edit-org__buttons {
  padding: 10px;
  display: flex;
  justify-content: flex-end;
}
.editOrgPage-main .habla-main-content-header-actions {
  display: none;
}

.container__team_image {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  flex-direction: row;
  padding-bottom: 30px !important;
}

.container__team_image .container__image {
  margin-left: 0;
}

.container__team_image .EditTeamPage_upload_label {
  color: #32a953;
  margin-left: 10px;
  font-weight: 700;
  text-transform: uppercase;
  font-size: 11px;
}

.container__team_image .container__image__remove {
  color: #f75a69;
  cursor: pointer;
  font-size: 10px;
  position: absolute;
  top: 65px;
  z-index: 2;
}
